<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additional Projects</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/logo.svg"  sizes="16x16"/>
    <link rel="icon" href="../img/logo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/logo.svg" sizes="64x64"/>
    <!-- CSS Style -->
    <link rel="stylesheet" href="../assets/application.css">
    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->

    <header class="headerProjects">
        <div class="navbar">
            <a href="../index.html" class="logoIcon"><img src="../img/logo.svg" alt="Logo" class="logo"></a>
            <div class="sectionMenu">
                <a href="../index.html" class="logoIcon">
                    <label for="homeIcon" class="homeIcon">
                        <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                    </label>
                </a>
                <label for="menuIcon">
                    <img class="menuImg" src="../img/menuItemIcon.svg" alt="">
                    <span class="tooltip">Projects</span>
                </label>
            </div>
            <input type="checkbox" id="menuIcon">
            <nav class="menu">
                <section class="menuLinks">
                    <label for="menuIcon">
                        <img src="../img/closeItemIcon.svg" alt="" class="closeImg">
                    </label>
                    <p class="projects">Projects</p>
                    <ul>
                        <li><a class="item" href="semed.html">Semed</a></li>
                        <li><a class="item" href="cineco.html">Cineco</a></li>
                        <li><a class="item" href="cocreva.html">Cocreva</a></li>
                        <li><a class="item" href="resapi.html">Resapi</a></li>
                        <li><a class="item" href="breakALeg.html">Break a Leg</a></li>
                        <li><a class="item" href="additionalProjects.html">Additional Projects</a></li>
                    </ul>
                    <a href="../index.html" class="return">
                        <label for="homeIcon" class="homeIcon">
                            <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                            <span class="tooltip">Home</span>
                            <input type="checkbox" id="menuIcon">
                        </label>
                    </a>
                </section>
                <section class="projectsDirect">
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Semed</h3>
                            <p class="paragraph">Designed a user-friendly app to simplify scheduling and managing
                                medical appointments. Key UX/UI features include intuitive navigation, clear appointment
                                scheduling, and an integrated chat system for direct communication with healthcare providers.
                            </p>
                            <a href="semed.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cineco</h3>
                            <p class="paragraph">Redesigned a ticket booking website to enhance user experience and streamline
                                the booking process. Key UX/UI improvements include a more intuitive interface, simplified
                                navigation, and a faster, more efficient reservation system, ensuring a seamless and
                                enjoyable user journey.
                            </p>
                            <a href="cineco.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cocreva</h3>
                            <p class="paragraph">Created a focused landing page featuring a leading speaker in
                                technology and entrepreneurship. Highlighting upcoming talks and encouraging direct
                                engagement through social media channels. Key UX/UI elements include a streamlined
                                design, and intuitive navigation for easy interaction.
                            </p>
                            <a href="cocreva.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Resapi</h3>
                            <p class="paragraph">I've developed an intuitive webapp dedicated to common homemade
                                recipes that are quick to prepare. Our platform offers a variety of accessible culinary
                                options, from main dishes to desserts, designed to simplify the search, preparation,
                                and enjoyment of delicious meals in no time.
                            </p>
                            <a href="resapi.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Break a Leg</h3>
                            <p class="paragraph">Introducing "Break a Leg," a vibrant skatewear brand designed for
                                youthful skateboard enthusiasts. Our branding captures the essence of adventure and
                                self-expression inherent in skate culture. With bold designs, quality materials, and
                                an authentic approach, "Break a Leg" offers apparel that celebrates the passion and
                                energy of the skateboarding community.
                            </p>
                            <a href="breakALeg.html" class="linkProject">Branding</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Additional Projects</h3>
                            <p class="paragraph">Explore a diverse portfolio of projects showcasing expertise in Figma
                                designs, landing page creation, web development, animations, and component design.
                                Each project reflects a commitment to creativity, functionality, and user engagement,
                                utilizing cutting-edge tools and techniques to deliver exceptional digital experiences
                                across various platforms and mediums.
                            </p>
                            <a href="additionalProjects.html" class="linkProject">Additional projects</a>
                        </section>
                    </div>
                </section>
            </nav>
        </div>
    </header>

    <!-- Main Container -->

    <main class="mainContainerAdditionalProjects">

        <!-- Hero Section -->

        <section class="heroSection additionalProjects" id="heroSection">
            <section class="mainHeroAdditionalProjects">
                <div class="heroAdditionalProjects">
                    <div class="titles">
                        <h1 class="titleProject">Additional Projects</h1>
                        <h3 class="paragraph">Enjoy it!!!</h3>
                    </div>
                    <div class="cardContainer">
                        <div class="card">
                            <div class="cardHero front">
                                <img src="../img/personalFrontCard.webp" alt="" class="bussinessCard">
                            </div>
                            <div class="cardHero back">
                                <img src="../img/personalBackCard.webp" alt="" class="bussinessCard">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spots">
                    <div class="spot spot1"></div>
                    <div class="spot spot2"></div>
                    <div class="spot spot3"></div>
                    <div class="spot spot4"></div>
                    <div class="spot spot5"></div>
                    <div class="spot spot6"></div>
                    <div class="spot spot7"></div>
                </div>
            </section>

            <!-- Tooltip Section -->

            <section class="sectionTooltipAdditionalProjects">
                <div class="tooltip">
                    <img src="../img/infoIcon.svg" alt="Tooltip Icon" class="infoIcon">
                    <p class="intro"><span class="span">"Additional Projects" <img src="../img/infoIcon.svg" alt="" class="iconInfo"></span>
                        Explore a diverse portfolio of projects showcasing expertise in Figma
                        designs, landing page creation, web development, animations, and component design.
                        Each project reflects a commitment to creativity, functionality, and user engagement,
                        utilizing cutting-edge tools and techniques to deliver exceptional digital experiences
                        across various platforms and mediums.
                    </p>
                </div>
                <img src="../img/arrowUpItemIcon.svg" alt="" class="signal">
            </section>

        </section>

        <!-- ArroUp -->

        <section class="arrowup" >
            <a href="#heroSection"><img src="../img/arrowUpItemIcon.svg" alt="" class="arrowupIcon"></a>
        </section>

        <!-- MenuSide -->

        <section class="menuSide">
            <nav class="menuProject">
                <div class="profile">
                    <img src="../img/avatar.webp" alt="" class="avatar">
                    <div>
                        <p class="paragraph">Diego Marín</p>
                        <p class="paragraph">UI Designer & Frontend Developer</p>
                    </div>
                </div>
                <ul>
                    <li><a href="#figma" class="itemArea">Figma</a></li>
                    <li><a href="#landingPages" class="itemArea">Landing Pages</a></li>
                    <li><a href="#webDevelopment" class="itemArea">Web Development</a></li>
                    <li><a href="#componentLayouts" class="itemArea">Components & Layouts</a></li>
                    <li><a href="#animationMotion" class="itemArea"> Animation & Motion</a></li>
                </ul>
                <a class="return" href="../index.html" >
                    <label for="homeIcon" class="homeIcon">
                        <img class="homeImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                        <input type="checkbox" id="menuIcon">
                    </label>
                </a>
            </nav>
        </section>

        <!-- Figma Section -->

        <section class="section figma" id="figma">
            <div class="containerSection">
                <section class="containerInfo">
                    <h2 class="title">
                        Figma
                    </h2>
                </section>
                <section class="tag">
                    <p class="titleTag">
                        Figma
                    </p>
                </section>
                <section class="contentParagraph">
                    <p class="paragraph">Explore a selection of projects where I utilized Figma to create intuitive user interfaces and engaging user experiences.</p>
                </section>
                <section class="sliderCards">
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/webPortfolioCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Web Developer Porfolio</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">I used Figma to design responsive websites, optimizing user experience and development efficiency.</p>
                            <a class="ctaItem" href="https://www.figma.com/proto/mn8DlE73dy17ZtCBEocnux/Portfolio?page-id=0%3A1&node-id=1272-5968&viewport=-31254%2C-4491%2C0.74&t=dCal2E56PYe7WBCa-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=1272%3A5968" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/g333kCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">G333K</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">A mobile app prototype for fans of geek culture,
                                featuring user-centered design and a vibrant purple theme.
                            </p>
                            <a class="ctaItem" href="https://www.figma.com/proto/Y3Z6duJSGpYkAZEobKvQsf/G333k?page-id=1%3A4&node-id=28-23295&starting-point-node-id=28%3A23295&t=yjV90JRZrlGdBm5A-1" target="_blank">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/designPortfolioCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Ui Designer Portfolio</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Discover my work in crafting intuitive interfaces and engaging user experiences using Figma.</p>
                            <a class="ctaItem" href="page404.html" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/deLordCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">DeLord</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Discover our job platform connecting businesses with talented web developers, UX/UI designers, and entrepreneurs. Find top talent to drive your projects forward.</p>
                            <a class="ctaItem" href="https://www.figma.com/proto/uA574xOChxtF5VhNTMiwAX/Delord?page-id=0%3A1&type=design&node-id=172-7824&viewport=-818%2C-6106%2C0.4&t=86LgWki5e4UH7yzI-1&scaling=scale-down&starting-point-node-id=172%3A7824" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="Break a Leg" class="imageProject" src="../img/breakALegCard1.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject"> Break a Leg</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Explore Break a Leg, your go-to destination for skate-inspired fashion. Shop our curated collection of apparel and accessories designed for young enthusiasts.!</p>
                            <a class="ctaItem" href="https://www.figma.com/proto/gRXoq1ASGPhQZxr65ZgDZQ/Break-a-Leg?page-id=1868%3A9069&type=design&node-id=1868-11638&viewport=4929%2C20517%2C0.31&t=SJTlBD9JZ5jP49Mz-1&scaling=scale-down&starting-point-node-id=1868%3A11638" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/tekniCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Tekni</h4>
                                    <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Discover Tekni, your premier destination for cutting-edge electronics. Explore our wide range of smartphones, smart TVs, laptops, and headsets designed to enhance your digital lifestyle.</p>
                            <a class="ctaItem" href="https://www.figma.com/proto/uP83VlEVIz4hmSboxjuN2F/Tekni?page-id=2%3A10&type=design&node-id=57-589&viewport=-2255%2C1269%2C0.28&t=2HOa7ebSJPJxV5wp-1&scaling=scale-down&starting-point-node-id=57%3A589" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/menphixCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Menphix</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Movie streaming platform design.
                                Explore my design for a movie streaming platform created using Figma
                            </p>
                            <a class="ctaItem" href="https://www.figma.com/proto/SLBtW43XlfpHsew2FyK4G5/Menphix?page-id=1%3A2&type=design&node-id=6-207&viewport=-1686%2C-2351%2C0.37&t=ndqPQMu8EafUcbW2-1&scaling=scale-down&starting-point-node-id=6%3A207" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/bankingCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">NuSkim</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Discover my design for a banking services landing page, focusing on cards and financial services, crafted using Figma.</p>
                            <a class="ctaItem" href="https://www.figma.com/proto/ukNVEkBmCJv5wzFGwicQHL/Credit-Card?page-id=0%3A1&node-id=196-138&viewport=-392%2C356%2C0.18&t=U7HbdnQpIqyB03Cc-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=196%3A138" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/allinOneCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">All in One</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Explore my design for AllinOne, a social networking platform, developed using Figma.</p>
                            <a class="ctaItem" href="https://www.figma.com/proto/jOffEfltEz09CK3J1Jp65G/AllinOne?page-id=1%3A1864&node-id=1-1865&viewport=1255%2C807%2C0.15&t=JRSAdtMA63Fb42pu-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=1%3A1865&show-proto-sidebar=1" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/formCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Form</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Explore my expertise in designing and optimizing forms for seamless user interactions.</p>
                            <a class="ctaItem" href="https://www.figma.com/proto/ukNVEkBmCJv5wzFGwicQHL/Credit-Card?page-id=159%3A69&node-id=281-2579&viewport=-300%2C363%2C0.43&t=6QdWuCdeOIJNOv1e-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=281%3A2579" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/resapiCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Resapi</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Explore my design for a recipe API, focusing on user-friendly
                                interfaces and efficient data handling.
                            </p>
                            <a class="ctaItem" href="https://www.figma.com/proto/LqcT8XUaPNz4NAszSSME09/Resapi?page-id=1%3A15&node-id=286-1376&viewport=494%2C247%2C0.02&t=80tzCG8QaZ3BdL7O-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=286%3A1376" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/mercurioCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Mercurio - Desktop</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Explore my design for Mercurio's desktop application, tailored for efficient enterprise document management.</p>
                            <a class="ctaItem" href="https://www.figma.com/proto/rzpHCwfAbH6oMzdG1gHuag/Mercurio?page-id=2%3A2&node-id=8-985&viewport=823%2C348%2C0.02&t=gD9NM7XNd4YStdAu-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=2%3A688" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/mercurioCellphoneCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Mercurio - Cellphone</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Discover my design for Mercurio's mobile application, ensuring seamless document management on the go.
                            </p>
                            <a class="ctaItem" href="https://www.figma.com/proto/rzpHCwfAbH6oMzdG1gHuag/Mercurio?page-id=0%3A1&node-id=484-317&viewport=179%2C80%2C0.04&t=1lXO2EQEQGdlQa4N-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=484%3A317" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/semedCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Semed</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">
                                I developed an innovative user interface using Figma,
                                focused on enhancing usability and user experience
                            </p>
                            <a class="ctaItem" href="https://www.figma.com/proto/TWnbDBVZjTFJI1WylSezEb/dise%C3%B1o-UX%2FUI?page-id=493%3A19360&node-id=1533-37380&viewport=510%2C294%2C0.03&t=cTkrbbu8X4KYSpaS-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=1533%3A37380&show-proto-sidebar=1" target="_blank">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/cinecoCard.webp">
                            <p class="tooltip">Figma</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Cineco</h4>
                                <img alt="" class="iconProject" src="../img/figmaItemIcon.svg">
                            </div>
                            <p class="paragraph">Experience the Cineco app redesign through interactive prototypes.
                                Test functionality and usability before the final implementation.
                            </p>
                            <a class="ctaItem" href="https://www.figma.com/proto/16aQOqoy2u3L39gNhToPkr/Cineco-Final?page-id=952%3A20715&node-id=952-20719&viewport=424%2C275%2C0.02&t=hLsmpMVX3dKh4zwk-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=952%3A20719&show-proto-sidebar=1" target="_blank">View</a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>

        <!-- Landing Pages Section -->

        <section class="section landingPages" id="landingPages">
            <div class="containerSection">
                <section class="containerInfo">
                    <h2 class="title">
                        Landing Pages
                    </h2>
                </section>
                <section class="tag">
                    <p class="titleTag">
                        Landing Pages
                    </p>
                </section>
                <section class="contentParagraph">
                    <p class="paragraph">Explore my designs for impactful landing pages that drive conversions and engage users effectively.
                    </p>
                </section>
                <section class="sliderCards">
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/cocktailsCard.webp">
                            <p class="tooltip">Landing</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Cocktail House</h4>
                                <img alt="" class="iconProject" src="../img/landingPage.svg">
                            </div>
                            <p class="paragraph">Step into the world of Cocktails House where every sip tells a story. Discover our curated collection of cocktails crafted with passion and expertise.</p>
                            <a class="ctaItem" href="https://cocktails-house.vercel.app/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/mercurioCard.webp">
                            <p class="tooltip">Landing</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Mercurio</h4>
                                <img alt="" class="iconProject" src="../img/landingPage.svg">
                            </div>
                            <p class="paragraph">Discover Mercurio, your solution for streamlined enterprise document management. Explore powerful features designed to enhance efficiency and organization.</p>
                            <a class="ctaItem" href="https://proyecto-mercurio.vercel.app/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/bankingCard.webp">
                            <p class="tooltip">Landing</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">NuSkim</h4>
                                <img alt="" class="iconProject" src="../img/landingPage.svg">
                            </div>
                            <p class="paragraph">Explore our banking cards landing page where security meets convenience. Discover our range of cards designed to suit your financial needs.</p>
                            <a class="ctaItem" href="https://digoraccoon4279.github.io/BankCards/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/menphixCard.webp">
                            <p class="tooltip">Landing</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Menphix</h4>
                                <img alt="" class="iconProject" src="../img/landingPage.svg">
                            </div>
                            <p class="paragraph">Explore Menphix, your gateway to endless entertainment. Discover a vast library of movies and series, streaming in high definition.
                            </p>
                            <a class="ctaItem" href="https://menphix.vercel.app/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/resapiCard.webp">
                            <p class="tooltip">Landing</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Resapi</h4>
                                <img alt="" class="iconProject" src="../img/landingPage.svg">
                            </div>
                            <p class="paragraph">Explore Resapi, your source for authentic traditional recipes. Access a diverse collection of culinary delights, perfect for cooking enthusiasts and food lovers alike.!</p>
                            <a class="ctaItem" href="https://resapi-app.vercel.app/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/allinOneCard.webp">
                            <p class="tooltip">Landing</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">All in One</h4>
                                <img alt="" class="iconProject" src="../img/landingPage.svg">
                            </div>
                            <p class="paragraph">Discover All InOne, your all-in-one solution for social networking and seamless communication. Connect, share, and engage with friends and communities effortlessly.
                            </p>
                            <a class="ctaItem" href="https://allinone-theta.vercel.app/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>

        <!-- Section Web Development -->

        <section class="section webDevelopment" id="webDevelopment">
            <div class="containerSection">
                <section class="containerInfo">
                    <h2 class="title">
                        Web Development
                    </h2>
                </section>
                <section class="tag">
                    <p class="titleTag">
                        Web Development
                    </p>
                </section>
                <section class="contentParagraph">
                    <p class="paragraph">Discover my expertise in crafting responsive and dynamic websites that deliver exceptional user experiences and meet business objectives.</p>
                </section>
                <section class="sliderCards">
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/deLordCard.webp">
                            <p class="tooltip">Development</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">DeLord</h4>
                                <img alt="" class="iconProject" src="../img/deployItemIcon.svg">
                            </div>
                            <p class="paragraph">Discover our job platform connecting businesses with talented web developers, UX/UI designers, and entrepreneurs. Find top talent to drive your projects forward.</p>
                            <a class="ctaItem" href="https://delord.vercel.app/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="Break a Leg" class="imageProject" src="../img/breakALegCard1.webp">
                            <p class="tooltip">Development</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject"> Break a Leg</h4>
                                <img alt="" class="iconProject" src="../img/deployItemIcon.svg">
                            </div>
                            <p class="paragraph">Explore Break a Leg, your go-to destination for skate-inspired fashion. Shop our curated collection of apparel and accessories designed for young enthusiasts.!</p>
                            <a class="ctaItem" href="https://break-a-leg.vercel.app/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/tekniCard.webp">
                            <p class="tooltip">Development</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Tekni</h4>
                                <img alt="" class="iconProject" src="../img/deployItemIcon.svg">
                            </div>
                            <p class="paragraph">Discover Tekni, your premier destination for cutting-edge electronics. Explore our wide range of smartphones, smart TVs, laptops, and headsets designed to enhance your digital lifestyle.</p>
                            <a class="ctaItem" href="https://tekniapp.netlify.app/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/menphixCard.webp">
                            <p class="tooltip">Development</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Menphix</h4>
                                <img alt="" class="iconProject" src="../img/deployItemIcon.svg">
                            </div>
                            <p class="paragraph">Explore Menphix, your gateway to endless entertainment. Discover a vast library of movies and series, streaming in high definition.
                            </p>
                            <a class="ctaItem" href="page404.html" target="_blank" rel="noopener noreferrer"> Check Back Soon </a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/resapiCard.webp">
                            <p class="tooltip">Development</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Resapi</h4>
                                <img alt="" class="iconProject" src="../img/deployItemIcon.svg">
                            </div>
                            <p class="paragraph">Explore Resapi, your source for authentic traditional recipes. Access a diverse collection of culinary delights, perfect for cooking enthusiasts and food lovers alike.!</p>
                            <a class="ctaItem" href="page404.html" target="_blank" rel="noopener noreferrer">Check Back Soon</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/allinOneCard.webp">
                            <p class="tooltip">Development</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">All in One</h4>
                                <img alt="" class="iconProject" src="../img/deployItemIcon.svg">
                            </div>
                            <p class="paragraph">Discover All InOne, your all-in-one solution for social networking and seamless communication. Connect, share, and engage with friends and communities effortlessly.
                            </p>
                            <a class="ctaItem" href="page404.html" target="_blank" rel="noopener noreferrer"> Check Back Soon </a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>

        <!-- Section Components & Layouts -->

        <section class="section componentLayouts" id="componentLayouts">
            <div class="containerSection">
                <section class="containerInfo">
                    <h2 class="title">
                        Components & Layouts
                    </h2>
                </section>
                <section class="tag">
                    <p class="titleTag">
                        Components & Layouts
                    </p>
                </section>
                <section class="contentParagraph">
                    <p class="paragraph">
                        Explore my proficiency in designing structured and versatile component layouts that enhance usability and visual appeal in digital interfaces.
                    </p>
                </section>
                <section class="sliderCards">
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/formCard.webp">
                            <p class="tooltip">Components</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Form</h4>
                                <img alt="" class="iconProject" src="../img/componentLayouts.svg">
                            </div>
                            <p class="paragraph">Explore my proficiency in designing versatile and structured components and layouts that enhance usability and aesthetic appeal across</p>
                            <a class="ctaItem" href="https://digoraccoon4279.github.io/Form/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/tooltipCard.webp">
                            <p class="tooltip">Components</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Card Tooltip</h4>
                                <img alt="" class="iconProject" src="../img/componentLayouts.svg">
                            </div>
                            <p class="paragraph">Discover my expertise in creating interactive card components with tooltips, enhancing user engagement and providing additional context effortlessly.
                            </p>
                            <a class="ctaItem" href="https://digoraccoon4279.github.io/Cards--Tooltip/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>

        <!-- Section Animation & Motion -->

        <section class="section animationMotion" id="animationMotion">
            <div class="containerSection">
                <section class="containerInfo">
                    <h2 class="title">
                        Animation & Motion
                    </h2>
                </section>
                <section class="tag">
                    <p class="titleTag">
                        Animation & Motion
                    </p>
                </section>
                <section class="contentParagraph">
                    <p class="paragraph">Discover my expertise in creating engaging animations and fluid motion designs that bring interfaces to life and enhance user interaction.</p>
                </section>
                <section class="sliderCards">
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/sliderCard.webp">
                            <p class="tooltip">Animation</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Slider</h4>
                                <img alt="" class="iconProject" src="../img/animationMotion.svg">
                            </div>
                            <p class="paragraph">Explore my 3D design showcasing immersive visuals and innovative concepts, crafted to captivate and inspire.
                            </p>
                            <a class="ctaItem" href="https://digoraccoon4279.github.io/SpiderCardRotate/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                    <div class="projectCards">
                        <div class="tooltipInfo">
                            <img alt="" class="imageProject" src="../img/cardCard.webp">
                            <p class="tooltip">Animation</p>
                        </div>
                        <section class="infoContent">
                            <div class="info">
                                <h4 class="titleProject">Cards</h4>
                                <img alt="" class="iconProject" src="../img/animationMotion.svg">
                            </div>
                            <p class="paragraph">Explore my cards design showcasing seamless transitions and engaging visuals, crafted to enhance user experience and interaction.</p>
                            <a class="ctaItem" href="https://digoraccoon4279.github.io/SpiderCards/" target="_blank" rel="noopener noreferrer">View</a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>

    </main>

    <!-- Footer -->

    <!-- Contact me -->

    <footer class="contactMe" id="contactMe">
        <p class="farewell">
            I want to express my heartfelt gratitude to each of you for taking the time to check out my projects and explore my portfolio. Your interest and support mean a lot to me and drive me to continue pursuing excellence in UX/UI design.
            I hope you found inspiration and creativity in my work. Your attention and consideration are truly appreciated. If you have any questions, comments, or simply wish to share your thoughts, please feel free to get in touch with me.
            Thank you once again for being a part of this journey. I hope our paths cross again in the future!
            With gratitude 🙏
        </p>
        <h3 class="titleSection">Contact me</h3>
        <nav class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/diegomarinmora/" class="item" target="_blank"><img src="../img/linkedinItemIcon.svg" alt="LinkedIn icon" class="img"><span class="tooltip">LinkedIn</span></a></li>
                <li><a href="https://www.behance.net/diegomarin21" class="item" target="_blank"><img src="../img/behanceItemIcon.svg" alt="Behance ico" class="img"><span class="tooltip">Behance</span></a></li>
                <li><a href="../img/resume.pdf" class="item" target="_blank" download="resume.pdf"><img src="../img/resumeItemIcon.svg" alt="Resume icon" class="img"><span class="tooltip">Resume</span></a></li>
            </ul>
        </nav>
        <div class="infoDeveloper">
            <p class="name">Developed by Diego Marin with 🧡 | Colombia - Canada | 2024 |  <img src="../img/logo.svg" alt="" class="logo"></p>
        </div>
    </footer>

    <!-- JS -->

    <script src="../js/mainAdditionalProjects.js"></script>

</body>
</html>
