<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Break a leg - Branding</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/logo.svg"  sizes="16x16"/>
    <link rel="icon" href="../img/logo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/logo.svg" sizes="64x64"/>
    <!-- CSS Style -->
    <link rel="stylesheet" href="../assets/application.css">
    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->

    <header class="headerProjects">
        <div class="navbar">
            <a href="../index.html" class="logoIcon"><img src="../img/logo.svg" alt="Logo" class="logo"></a>
            <div class="sectionMenu">
                <a href="../index.html" class="logoIcon">
                    <label for="homeIcon" class="homeIcon">
                        <img class="homeImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                    </label>
                </a>
                <label for="menuIcon">
                    <img class="menuImg" src="../img/menuItemIcon.svg" alt="">
                    <span class="tooltip">Projects</span>
                </label>
            </div>
            <input type="checkbox" id="menuIcon">
            <nav class="menu">
                <section class="menuLinks">
                    <label for="menuIcon">
                        <img src="../img/closeItemIcon.svg" alt="" class="closeImg">
                    </label>
                    <p class="projects">Projects</p>
                    <ul>
                        <li><a class="item" href="semed.html">Semed</a></li>
                        <li><a class="item" href="cineco.html">Cineco</a></li>
                        <li><a class="item" href="cocreva.html">Cocreva</a></li>
                        <li><a class="item" href="resapi.html">Resapi</a></li>
                        <li><a class="item" href="breakALeg.html">Break a Leg</a></li>
                        <li><a class="item" href="additionalProjects.html">Additional Projects</a></li>
                    </ul>
                    <a href="../index.html" class="return">
                        <label for="homeIcon" class="homeIcon">
                            <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                            <span class="tooltip">Home</span>
                            <input type="checkbox" id="menuIcon">
                        </label>
                    </a>
                </section>
                <section class="projectsDirect">
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Semed</h3>
                            <p class="paragraph">Designed a user-friendly app to simplify scheduling and
                                managing medical appointments. Key UX/UI features include intuitive navigation,
                                clear appointment scheduling, and an integrated chat system for direct communication
                                with healthcare providers.
                            </p>
                            <a href="semed.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cineco</h3>
                            <p class="paragraph">Redesigned a ticket booking website to enhance user experience and streamline
                                the booking process. Key UX/UI improvements include a more intuitive interface,
                                simplified navigation, and a faster, more efficient reservation system, ensuring
                                a seamless and enjoyable user journey.
                            </p>
                            <a href="cineco.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cocreva</h3>
                            <p class="paragraph">Created a focused landing page featuring a leading speaker in
                                technology and entrepreneurship. Highlighting upcoming talks and encouraging direct
                                engagement through social media channels. Key UX/UI elements include a streamlined
                                design, and intuitive navigation for easy interaction.
                            </p>
                            <a href="cocreva.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Resapi</h3>
                            <p class="paragraph">I've developed an intuitive webapp dedicated to common homemade
                                recipes that are quick to prepare. Our platform offers a variety of accessible culinary
                                options, from main dishes to desserts, designed to simplify the search, preparation,
                                and enjoyment of delicious meals in no time.
                            </p>
                            <a href="resapi.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Break a Leg</h3>
                            <p class="paragraph">Introducing "Break a Leg," a vibrant skatewear brand designed for
                                youthful skateboard enthusiasts. Our branding captures the essence of adventure and
                                self-expression inherent in skate culture. With bold designs, quality materials, and
                                an authentic approach, "Break a Leg" offers apparel that celebrates the passion and
                                energy of the skateboarding community.
                            </p>
                            <a href="breakALeg.html" class="linkProject">Branding</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Additional Projects</h3>
                            <p class="paragraph">Explore a diverse portfolio of projects showcasing expertise in Figma
                                designs, landing page creation, web development, animations, and component design.
                                Each project reflects a commitment to creativity, functionality, and user engagement,
                                utilizing cutting-edge tools and techniques to deliver exceptional digital experiences
                                across various platforms and mediums.
                            </p>
                            <a href="additionalProjects.html" class="linkProject">Additional projects</a>
                        </section>
                    </div>
                </section>
            </nav>
        </div>
    </header>

    <!-- Main Container -->

    <main class="mainContainerProjects">

        <!-- Hero Section -->

        <section class="heroSection breakaLeg" id="heroSection">
            <div class="heroBreakALeg">
                <img src="../img/breakaLegPic1.webp" alt="" class="breakALegHero">
                <img src="../img/breakaLegPic3.webp" alt="" class="breakALegHero">
            </div>
        </section>

        <!-- ArroUp -->

        <section class="arrowup" >
            <a href="#heroSection"><img src="../img/arrowUpItemIcon.svg" alt="" class="arrowupIcon"></a>
        </section>

        <!-- MenuSide -->

        <section class="menuSide">
            <nav class="menuProject">
                <div class="profile">
                    <img src="../img/avatar.webp" alt="" class="avatar">
                    <div>
                        <p class="paragraph">Diego Marín</p>
                        <p class="paragraph">UI Designer & Frontend Developer</p>
                    </div>
                </div>
                <ul>
                    <li><a href="#context" class="itemArea">Context and Challenge</a></li>
                    <li><a href="#research" class="itemArea">Research and Discovery</a></li>
                    <li><a href="#conceptualization" class="itemArea">Conceptualization and Design</a></li>
                    <li><a href="#implementation" class="itemArea">Implementation and Results</a></li>
                    <li><a href="#technologies" class="itemArea">Technologies and Tools</a></li>
                    <li><a href="#achievements" class="itemArea">Achievements and Learnings</a></li>
                    <li><a href="#impact" class="itemArea">Impact and Benefits</a></li>
                    <li><a href="#details" class="itemArea">Details available</a></li>
                </ul>
                <a class="return" href="../index.html" >
                    <label for="homeIcon" class="homeIcon">
                        <img class="homeImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                        <input type="checkbox" id="menuIcon">
                    </label>
                </a>
            </nav>
        </section>

        <!-- Context and Challenge -->

        <section class="section context" id="context">
            <div class="containerSection">
                <h2 class="title">
                    Context and Challenge
                </h2>
                <div class="sectionCovertBreakaLeg">

                    <!-- background-image in css -->

                </div>
                <div class="tag">
                    <p class="titleTag">
                        Context and Challenge
                    </p>
                </div>
                <section class="containerInfo">
                    <div class="article">
                        <h4 class="subtitle"> Client: </h4>
                        <p class="paragraph">
                            Break a Leg - Clothing brand for skaters.
                        </p>
                    </div>
                    <div class="article">
                        <h4 class="subtitle"> Project Objective: </h4>
                        <p class="paragraph">
                            Create a brand identity that resonates with young people and teenagers, mainly males, who practice skateboarding and have an alternative lifestyle.
                        </p>
                    </div>
                    <div class="article">
                        <h4 class="subtitle"> Scope of Work:</h4>
                        <p class="paragraph">
                            Development of logo, color palette, typography, and style guide for various applications.
                        </p>
                    </div>
                    <div id="picBreakALeg">
                        <img class="breakALegContext" src="../img/breakaLegPic4.webp" alt="">
                    </div>
                </section>
            </div>
        </section>

        <!-- Research and Discovery -->

        <section class="section research" id="research">
            <div class="containerSection">
                <h2 class="title">
                    Research and Discovery
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Research and Discovery
                    </p>
                </div>
                <section class="containerInfo" id="infoBreakaLegResearch">
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle">  Culture:</h4>
                            <p class="paragraph">
                                <span class="bold"> Defining Characteristics:</span>
                                Modern, Easy-going, Open-minded.
                            </p>
                            <p class="paragraph">
                                <span class="bold"> Artistic Style:</span>
                                Maximalist yet fresh.
                            </p>
                            <p class="paragraph">
                                <span class="bold"></span>
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Audience: </h4>
                            <p class="paragraph">
                                <span class="bold">Target Audience Profile:</span>
                                Young people and teenagers, male, punk, skater, and alternative style.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Voice:</h4>
                            <p class="paragraph">
                                <span class="bold">Communication Tone:</span>
                                Trustworthy, Approachable, Informal.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> Feelings:</h4>
                            <p class="paragraph">
                                <span class="bold">  User Experience:</span>
                                Feeling secure, Energized, Emotional.
                            </p>
                            <p class="paragraph">
                                <span class="bold"></span>
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> X Factor:</h4>
                            <p class="paragraph">
                                <span class="bold"></span>
                                Unique Differentiators: Innovate, Convey, Inspire.
                            </p>
                        </div>
                    </section>
                    <div class="curtain block">
                        <section class="advertising">
                            <h4 class="advertisingTitle">Experience Passion & Danger</h4>
                            <img src="../img/breakaLegResearch.webp" alt="" class="image">
                            <img src="../img/breakaLegTypography.webp" alt="" class="brand">
                        </section>
                    </div>
                </section>
            </div>
        </section>

        <!-- Conceptualization and Design -->

        <section class="section conceptualization" id="conceptualization">
            <div class="containerSection">
                <h2 class="title">
                    Conceptualization and Design
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Conceptualization and Design
                    </p>
                </div>
                <section class="containerInfo" id="infoConceptualizationBreakaLeg">
                    <div class="curtain block">
                        <section class="advertising">
                            <h4 class="advertisingTitle">Embrace the Edge</h4>
                            <img src="../img/breakaLegDesign.webp" alt="" class="image">
                            <img src="../img/breakaLegTypography.webp" alt="" class="brand">
                        </section>
                    </div>
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle"> Final Brand Description:</h4>
                            <p class="paragraph">
                                "Break a Leg” is a comfortable yet high-quality clothing brand, ideal for practicing street skateboarding. It features a maximalist and fresh style, aimed at a young, middle to upper-middle-class audience. It reflects an alternative, rock, and punk lifestyle with exclusive designs.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Core Ideas:</h4>
                            <p class="paragraph">
                                Youth and energy.
                            </p>
                            <p class="paragraph">
                                Illustration.
                            </p>
                            <p class="paragraph">
                                Inspiration.
                            </p>
                            <p class="paragraph">
                                Exclusivity.
                            </p>
                            <p class="paragraph">
                                Maximalist designs.
                            </p>
                            <p class="paragraph">
                                Dark color palette, grays, white, and subtle primary colors.
                            </p>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Implementation and Results -->

        <section class="section implementation" id="implementation">
            <div class="containerSection">
                <h2 class="title">
                    Implementation and Results
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Implementation and Results
                    </p>
                </div>
                <section class="containerInfo" id="ImplementationInfoBreakaLeg">
                    <section class="sectionSplit">
                        <div class="finalBranding">
                            <div class="article">
                                <h4 class="subtitle">  Final Branding Elements: </h4>
                                <p class="paragraph">
                                    <span class="bold">Logo:</span>
                                    Designed to reflect the brand's energy and alternative style.
                                </p>
                                <p class="paragraph">
                                    <span class="bold">   Color Palette:</span>
                                    Predominantly dark with grays, white, and subtle touches of primary colors.
                                </p>
                                <p class="paragraph">
                                    <span class="bold">  Typography:</span>
                                    Modern and easy-going, complementing the brand's style.
                                </p>
                                <p class="paragraph">
                                    <span class="bold">Style Guide:</span>
                                    Detailing the application of the branding across various supports such as clothing, business cards, stationery, website, and social media.
                                </p>
                            </div>
                            <div class="article">
                                <h4 class="subtitle"> Branding Applications: </h4>
                                <p class="paragraph">
                                    Visual examples of how the branding was applied to clothing, packaging, promotional materials, and digital platforms.
                                </p>
                            </div>
                        </div>
                        <div class="rideaux" id="rideaux">
                            <section class="advertising">
                                <h4 class="advertisingTitle">Savor the Intensity</h4>
                                <img src="../img/implementationBreakaLeg2.webp" alt="" class="image">
                                <img src="../img/breakaLegTypography.webp" alt="" class="brand">
                            </section>
                        </div>
                    </section>
                    <div class="curtain block">
                        <section class="advertising">
                            <h4 class="advertisingTitle">Live the Rush</h4>
                            <img src="../img/implementationBreakaLeg.webp" alt="" class="image">
                            <img src="../img/breakaLegTypography.webp" alt="" class="brand">
                        </section>
                    </div>
                </section>
            </div>
        </section>

        <!-- Technologies and Tools -->

        <section class="section technologies" id="technologies">
            <div class="containerSection">
                <h2 class="title">
                    Technologies and Tools
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Technologies and Tools
                    </p>
                </div>
                <section class="containerInfo" id="technologyInfoBreakaLeg">
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle"> Software Used:</h4>
                            <p class="paragraph">
                                Adobe Photoshop
                                Adobe Illustrator
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> Feedback and Review Process:</h4>
                            <p class="paragraph">
                                Constant communication with the client through meetings and progress presentations.
                            </p>
                            <p class="paragraph">
                                Iterations based on feedback to refine the design.
                            </p>
                        </div>
                    </section>
                    <div class="curtain block">
                        <section class="advertising">
                            <h4 class="advertisingTitle">Sense the Adventure</h4>
                            <img src="../img/breakaLegTechnology.webp" alt="" class="image">
                            <img src="../img/breakaLegTypography.webp" alt="" class="brand">
                        </section>
                    </div>
                </section>
            </div>
        </section>

        <!-- Achievements and Learnings -->

        <section class="section achievements" id="achievements">
            <div class="containerSection">
                <h2 class="title">
                    Achievements and Learnings
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Achievements and Learnings
                    </p>
                </div>
                <section class="containerInfo" id="achievementsInfoBreakaLeg">
                    <div class="curtain block">
                        <section class="advertising">
                            <h4 class="advertisingTitle">Explore the Excitement</h4>
                            <img src="../img/achievementBreakaLeg.webp" alt="" class="image">
                            <img src="../img/breakaLegTypography.webp" alt="" class="brand">
                        </section>
                    </div>
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle"> Project Impact:</h4>
                            <p class="paragraph">
                                Increased visibility and positive perception of the brand.
                            </p>
                            <p class="paragraph">
                                Creation of a cohesive and attractive identity that resonates with the target audience.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> Testimonials:</h4>
                            <p class="paragraph">
                                Positive feedback from the client and acceptance in the target market.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">  Lessons Learned:</h4>
                            <p class="paragraph">
                                The importance of effective and constant communication with the client.
                            </p>
                            <p class="paragraph">
                                Adaptability to iterate and improve the design based on feedback.
                            </p>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Impact and Benefits -->

        <section class="section impact" id="impact">
            <div class="containerSection">
                <h2 class="title">
                    Impact and Benefits
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Impact and Benefits
                    </p>
                </div>
                <section class="containerInfo"  id="impactInfoBreakaLeg">
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle"> Personal Contribution:</h4>
                            <p class="paragraph">
                                Leadership in the conceptualization and design of the branding.
                            </p>
                            <p class="paragraph">
                                Coordination with the client and team to ensure coherence and quality of the final result.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">  Added Value: </h4>
                            <p class="paragraph">
                                Creation of a distinctive brand that captures the essence and energy of the target audience.
                            </p>
                            <p class="paragraph">
                                Increased loyalty and emotional connection with customers.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> Use Cases:</h4>
                            <p class="paragraph">
                                Description of specific situations where the new branding had a positive impact, such as skate events and social media promotions.
                            </p>
                        </div>
                    </section>
                    <div class="curtain block">
                        <section class="advertising">
                            <h4 class="advertisingTitle">Taste the Adrenaline</h4>
                            <img src="../img/impactBreakaLeg.webp" alt="" class="image">
                            <img src="../img/breakaLegTypography.webp" alt="" class="brand">
                        </section>
                    </div>
                </section>
                <div class="impactPicBreakALeg">
                    <img src="../img/breakaLegPic2.webp" alt="" class="breakALegImpact">
                </div>
            </div>
        </section>

        <!-- for more details -->

        <section class="section details" id="details">
            <div class="containerSection">
                <h2 class="titleDetails">
                    For more details and to explore the project.
                </h2>
                <section class="sectionCards">
                    <div class="cards">
                        <img src="../img/behanceItemIcon.svg" class="image">
                        <section class="info">
                            <p>Discover the complete branding project for "Break a Leg" on Behance. See how the modern, maximalist designs come to life through detailed visuals and creative concepts.
                            </p>
                            <a href="https://www.behance.net/gallery/160745555/Break-a-Leg" target="_blank" class="ctaItem">Behance</a>
                        </section>
                    </div>
                    <div class="cards">
                        <img src="../img/brandingItemIcon.svg" class="image">
                        <section class="info">
                            <p>Check out the comprehensive branding guide for "Break a Leg." This document outlines the brand's visual identity, including logo designs, color palettes, typography, and usage guidelines to ensure consistency across all platforms.
                            </p>
                            <a href="https://drive.google.com/file/d/173zLuhW7Ty0Y6UWl7Tzo-abN6AbnWPZN/view" target="_blank" class="ctaItem">Branding</a>
                        </section>
                    </div>
                    <div class="cards">
                        <img src="../img/deployItemIcon.svg" class="image">
                        <section class="info">
                            <p>Visit the project website to delve deeper into the branding journey of "Break a Leg." Explore the process, from initial concepts to the final implementation, and see how the brand identity was crafted to resonate with its target audience.
                            </p>
                            <a href="https://break-a-leg.vercel.app/" target="_blank" class="ctaItem">Web site</a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>

    </main>

    <!-- Footer -->

    <!-- Contact me -->

    <footer class="contactMe" id="contactMe">
        <p class="farewell">
            I want to express my heartfelt gratitude to each of you for taking the time to check out my projects and explore my portfolio. Your interest and support mean a lot to me and drive me to continue pursuing excellence in UX/UI design.
            I hope you found inspiration and creativity in my work. Your attention and consideration are truly appreciated. If you have any questions, comments, or simply wish to share your thoughts, please feel free to get in touch with me.
            Thank you once again for being a part of this journey. I hope our paths cross again in the future!
            With gratitude 🙏
        </p>
        <h3 class="titleSection">Contact me</h3>
        <nav class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/diegomarinmora/" class="item" target="_blank"><img src="../img/linkedinItemIcon.svg" alt="LinkedIn icon" class="img"><span class="tooltip">LinkedIn</span></a></li>
                <li><a href="https://www.behance.net/diegomarin21" class="item" target="_blank"><img src="../img/behanceItemIcon.svg" alt="Behance ico" class="img"><span class="tooltip">Behance</span></a></li>
                <li><a href="../img/resume.pdf" class="item" target="_blank" download="resume.pdf"><img src="../img/resumeItemIcon.svg" alt="Resume icon" class="img"><span class="tooltip">Resume</span></a></li>
            </ul>
        </nav>
        <div class="infoDeveloper">
            <p class="name">Developed by Diego Marin with 🧡 | Colombia - Canada | 2024 |  <img src="../img/logo.svg" alt="" class="logo"></p>
        </div>
    </footer>

    <!-- JS -->

    <script src="../main.js"></script>

</body>
</html>

