<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocreva</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/logo.svg"  sizes="16x16"/>
    <link rel="icon" href="../img/logo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/logo.svg" sizes="64x64"/>
    <!-- CSS Style -->
    <link rel="stylesheet" href="../assets/application.css">
    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->

    <header class="headerProjects">
        <div class="navbar">
            <a href="../index.html" class="logoIcon"><img src="../img/logo.svg" alt="Logo" class="logo"></a>
            <div class="sectionMenu">
                <a href="../index.html" class="logoIcon">
                    <label for="homeIcon" class="homeIcon">
                        <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                    </label>
                </a>
                <label for="menuIcon">
                    <img class="menuImg" src="../img/menuItemIcon.svg" alt="">
                    <span class="tooltip">Projects</span>
                </label>
            </div>
            <input type="checkbox" id="menuIcon">
            <nav class="menu">
                <section class="menuLinks">
                    <label for="menuIcon">
                        <img src="../img/closeItemIcon.svg" alt="" class="closeImg">
                    </label>
                    <p class="projects">Projects</p>
                    <ul>
                        <li><a class="item" href="semed.html">Semed</a></li>
                        <li><a class="item" href="cineco.html">Cineco</a></li>
                        <li><a class="item" href="cocreva.html">Cocreva</a></li>
                        <li><a class="item" href="resapi.html">Resapi</a></li>
                        <li><a class="item" href="breakALeg.html">Break a Leg</a></li>
                        <li><a class="item" href="additionalProjects.html">Additional Projects</a></li>
                    </ul>
                    <a href="../index.html" class="return">
                        <label for="homeIcon" class="homeIcon">
                            <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                            <span class="tooltip">Home</span>
                            <input type="checkbox" id="menuIcon">
                        </label>
                    </a>
                </section>
                <section class="projectsDirect">
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Semed</h3>
                            <p class="paragraph">Redesigned a ticket booking website to enhance user experience and
                                streamline the booking process. Key UX/UI improvements include a more intuitive interface,
                                simplified navigation, and a faster, more efficient reservation system, ensuring a seamless
                                and enjoyable user journey.
                            </p>
                            <a href="semed.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cineco</h3>
                            <p class="paragraph">Redesigned a ticket booking website to enhance user experience
                                and streamline the booking process. Key UX/UI improvements include a more intuitive
                                interface, simplified navigation, and a faster, more efficient reservation system,
                                ensuring a seamless and enjoyable user journey
                            </p>
                            <a href="cineco.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cocreva</h3>
                            <p class="paragraph">Created a focused landing page featuring a leading speaker in
                                technology and entrepreneurship. Highlighting upcoming talks and encouraging direct
                                engagement through social media channels. Key UX/UI elements include a streamlined
                                design, and intuitive navigation for easy interaction.
                            </p>
                            <a href="cocreva.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Resapi</h3>
                            <p class="paragraph">I've developed an intuitive webapp dedicated to common homemade
                                recipes that are quick to prepare. Our platform offers a variety of accessible culinary
                                options, from main dishes to desserts, designed to simplify the search, preparation,
                                and enjoyment of delicious meals in no time.
                            </p>
                            <a href="resapi.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Break a Leg</h3>
                            <p class="paragraph">Introducing "Break a Leg," a vibrant skatewear brand designed for
                                youthful skateboard enthusiasts. Our branding captures the essence of adventure and
                                self-expression inherent in skate culture. With bold designs, quality materials, and
                                an authentic approach, "Break a Leg" offers apparel that celebrates the passion and
                                energy of the skateboarding community.
                            </p>
                            <a href="breakALeg.html" class="linkProject">Branding</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Additional Projects</h3>
                            <p class="paragraph">Explore a diverse portfolio of projects showcasing expertise in Figma
                                designs, landing page creation, web development, animations, and component design.
                                Each project reflects a commitment to creativity, functionality, and user engagement,
                                utilizing cutting-edge tools and techniques to deliver exceptional digital experiences
                                across various platforms and mediums.
                            </p>
                            <a href="additionalProjects.html" class="linkProject">Additional projects</a>
                        </section>
                    </div>
                </section>
            </nav>
        </div>
    </header>


    <!-- Main Container -->

    <main class="mainContainerProjects">

        <!-- Hero Section -->

        <section class="heroSection cocreva" id="heroSection">
            <div class="heroCocreva">
                <img src="../img/cocrevaHero.webp" alt="" class="cocrevaHero">
            </div>
        </section>

        <!-- ArroUp -->

        <section class="arrowup" >
            <a href="#heroSection"><img src="../img/arrowUpItemIcon.svg" alt="" class="arrowupIcon"></a>
        </section>

        <!-- MenuSide -->

        <section class="menuSide">
            <nav class="menuProject">
                <div class="profile">
                    <img src="../img/avatar.webp" alt="" class="avatar">
                    <div>
                        <p class="paragraph">Diego Marín</p>
                        <p class="paragraph">UI Designer & Frontend Developer</p>
                    </div>
                </div>
                <ul>
                    <li><a href="#context" class="itemArea">Context and Challenge</a></li>
                    <li><a href="#research" class="itemArea">Research and Discovery</a></li>
                    <li><a href="#conceptualization" class="itemArea">Conceptualization and Design</a></li>
                    <li><a href="#implementation" class="itemArea">Implementation and Results</a></li>
                    <li><a href="#technologies" class="itemArea">Technologies and Tools</a></li>
                    <li><a href="#achievements" class="itemArea">Achievements and Learnings</a></li>
                    <li><a href="#impact" class="itemArea">Impact and Benefits</a></li>
                    <li><a href="#details" class="itemArea">Details available</a></li>
                </ul>
                <a class="return" href="../index.html" >
                    <label for="homeIcon" class="homeIcon">
                        <img class="homeImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                        <input type="checkbox" id="menuIcon">
                    </label>
                </a>
            </nav>
        </section>

        <!-- Context and Challenge -->

        <section class="section context" id="context">
            <div class="containerSection">
                <h2 class="title">
                    Context and Challenge
                </h2>
                <div class="sectionCovertCocreva">

                    <!-- background-image in css -->

                </div>
                <div class="tag">
                    <p class="titleTag">
                        Context and Challenge
                    </p>
                </div>
                <section class="containerInfo">
                    <div class="article">
                        <p class="paragraph"></p>
                        The MVP development for COCREVA faced initial challenges due to
                        the lack of clear definition of the services the client wished to offer.
                        As we gathered more client information, the project evolved and became
                        better defined.
                    </div>
                </section>
                <div class="sectionCovertCocreva">

                    <!-- background-image in css -->

                </div>
            </div>
        </section>

        <!-- Research and Discovery -->

        <section class="section research" id="research">
            <div class="containerSection">
                <h2 class="title">
                    Research and Discovery
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Research and Discovery
                    </p>
                </div>
                <section class="containerInfo" id="infoCocrevaResearch">
                    <section class="sectionSplit">
                        <div class="article">
                            <p class="paragraph">
                                We conducted thorough research and hypothesis validations initially, but
                                the initial lack of clarity led us to redesign towards a more basic yet
                                user-focused landing page. The first user testing revealed the need for
                                clearer, more direct communication aligned with user expectations.
                            </p>
                        </div>
                    </section>
                    <div class="rideaux">
                        <img src="../img/cocrevaPic9.webp" alt="Cocreva Research" class="image">
                    </div>
                </section>
            </div>
        </section>

        <!-- Conceptualization and Design -->

        <section class="section conceptualization" id="conceptualization">
            <div class="containerSection">
                <h2 class="title">
                    Conceptualization and Design
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Conceptualization and Design
                    </p>
                </div>
                <section class="containerInfo" id="infoCocrevaConceptualization">
                    <div class="rideaux">
                        <img src="../img/cocrevaPic6.webp" alt="" class="image">
                    </div>
                    <section class="sectionSplit">
                        <div class="article">
                            <p class="paragraph">
                                Based on new users insights and findings from validations,
                                I led the UX/UI design efforts. We iterated through wireframes
                                and mockups that reflected the project's new direction. We
                                focused on a simplified but informative structure for the
                                landing page, strategically placing each element to capture
                                user attention effectively.
                            </p>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Implementation and Results -->

        <section class="section implementation" id="implementation">
            <div class="containerSection">
                <h2 class="title">
                    Implementation and Results
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Implementation and Results
                    </p>
                </div>
                <section class="containerInfo" id="infoCocrevaImplementation">
                    <section class="sectionSplit">
                        <div class="article">
                            <p class="paragraph">
                                We delivered the UX/UI design a week ahead of schedule to
                                the development team. This allowed for final adjustments
                                and ensured the landing page was ready for a timely and
                                successful launch.
                            </p>
                        </div>
                    </section>
                    <div class="rideaux">
                        <img src="../img/cocrevaPic8.webp" alt="" class="image">
                    </div>
                </section>
            </div>
        </section>

        <!-- Technologies and Tools -->

        <section class="section technologies" id="technologies">
            <div class="containerSection">
                <h2 class="title">
                    Technologies and Tools
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Technologies and Tools
                    </p>
                </div>
                <section class="containerInfo" id="infoCocrevaTechnology">
                    <section class="sectionSplit">
                        <p class="paragraph">
                            We used a variety of software tools to facilitate iterative
                            design and effective collaboration between the design and development
                            teams.
                        </p>
                        <div class="article">
                            <h4 class="subtitle">Design tools:</h4>
                            <p class="paragraph">
                                <span class="bold">Figma:</span>
                                For wireframes and prototype.
                            </p>
                            <p class="paragraph">
                                <span class="bold">Whimsical: </span>
                                For user flows and task flows.
                            </p>
                            <p class="paragraph">
                                <span class="bold">Google Slide: </span>
                                For presentation and report.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Development tools:</h4>
                            <p class="paragraph">
                                <span class="bold">HTML:</span>
                                For structuring the website
                             </p>
                            <p class="paragraph">
                                <span class="bold">CSS:</span>
                                Used for styling and design purposes.
                            </p>
                            <p class="paragraph">
                                <span class="bold">VSC:</span>
                                Text editor for coding.
                            </p>
                            <p class="paragraph">
                                <span class="bold">React:</span>
                                Enhances performance and facilitates component development in SPAs.
                            </p>
                        </div>
                    </section>
                    <div class="rideaux">
                        <img src="../img/cocrevaPic7.webp" alt="" class="image">
                    </div>
                </section>
            </div>
        </section>

        <!-- Achievements and Learnings -->

        <section class="section achievements" id="achievements">
            <div class="containerSection">
                <h2 class="title">
                    Achievements and Learnings
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Achievements and Learnings
                    </p>
                </div>
                <section class="containerInfo" id="infoCocrevaAchievements">
                    <section class="sectionSplit">
                        <div class="rideaux">
                            <img src="../img/cocrevaPic5.webp" alt="" class="image">
                        </div>
                        <div class="article">
                            <p class="paragraph">
                                This project underscored the importance of swiftly
                                adapting to changes in client needs and market dynamics.
                                We learned valuable lessons in clear communication and
                                well-defined page structure, which significantly enhanced
                                user experience and product effectiveness.
                            </p>
                        </div>
                    </section>
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle">Teamwork and Communication</h4>
                                <p class="paragraph">
                                    Effective teamwork and clear communication across departments
                                    and individual contributors were crucial to navigating uncertainties
                                    and achieving project milestones. Each team and individual played a
                                    vital role in ensuring alignment with project objectives and client
                                    expectations.
                                </p>
                        </div>
                        <div class="rideaux">
                            <img src="../img/cocrevaPic4.webp" alt="" class="image">
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Impact and Benefits -->

        <section class="section impact" id="impact">
            <div class="containerSection" >
                <section class="infoCocrevaImpact">
                    <h2 class="title">
                        Impact and Benefits
                    </h2>
                    <div class="tag">
                        <p class="titleTag">
                            Impact and Benefits
                        </p>
                    </div>
                    <section class="containerInfo">
                            <div class="article">
                                <p class="paragraph">
                                    The redesigned landing page received positive feedback
                                    from end users, who found it easier and clearer to understand
                                    the offered services. This demonstrated our ability to navigate
                                    shifting requirements and deliver project goals efficiently.
                                </p>
                            </div>
                    </section>
                    <section class="rideaux">
                        <img src="../img/cocrevaPic3.webp" alt="" class="image">
                    </section>
                </section>
            </div>
        </section>

        <!-- for moreinformation, Detail Cards-->

        <section class="section details" id="details">
            <div class="containerSection">
                <h2 class="titleDetails">
                    For more details and to explore the project.
                </h2>
                <section class="sectionCards">
                    <div class="cards">
                        <img src="../img/behanceItemIcon.svg" class="image">
                        <section class="info">
                            <p>Discover how our solutions enhance user interaction
                                and optimize product performance.
                            </p>
                            <a href="https://www.cocreva.com/" target="_blank" class="ctaItem">Web site</a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>

    </main>

    <!-- Footer -->

    <!-- Contact me -->

    <footer class="contactMe" id="contactMe">
        <p class="farewell">
            I want to express my heartfelt gratitude to each of you for taking the time to check out my projects and explore my portfolio. Your interest and support mean a lot to me and drive me to continue pursuing excellence in UX/UI design.
            I hope you found inspiration and creativity in my work. Your attention and consideration are truly appreciated. If you have any questions, comments, or simply wish to share your thoughts, please feel free to get in touch with me.
            Thank you once again for being a part of this journey. I hope our paths cross again in the future!
            With gratitude 🙏
        </p>
        <h3 class="titleSection">Contact me</h3>
        <nav class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/diegomarinmora/" class="item" target="_blank"><img src="../img/linkedinItemIcon.svg" alt="LinkedIn icon" class="img"><span class="tooltip">LinkedIn</span></a></li>
                <li><a href="https://www.behance.net/diegomarin21" class="item" target="_blank"><img src="../img/behanceItemIcon.svg" alt="Behance ico" class="img"><span class="tooltip">Behance</span></a></li>
                <li><a href="../img/resume.pdf" class="item" target="_blank" download="resume.pdf"><img src="../img/resumeItemIcon.svg" alt="Resume icon" class="img"><span class="tooltip">Resume</span></a></li>
            </ul>
        </nav>
        <div class="infoDeveloper">
            <p class="name">Developed by Diego Marin with 🧡 | Colombia - Canada | 2024 |  <img src="../img/logo.svg" alt="" class="logo"></p>
        </div>
    </footer>

    <!-- JS -->

    <script src="../main.js"></script>

</body>
</html>
