<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page 404</title>
        <!-- Favicon -->
        <link rel="icon" href="../img/logo.svg"  sizes="16x16"/>
        <link rel="icon" href="../img/logo.svg" sizes="32x32"/>
        <link rel="icon" href="../img/logo.svg" sizes="64x64"/>
        <!-- CSS Style -->
        <link rel="stylesheet" href="../assets/application.css">
        <!-- Google fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
<body>

    <!-- Main Container Page 404 -->

    <!-- <section class="mainContainerPage404">
        <div class="cardContainer">
            <div class="arrow">
                <img src="../img/curveArrow.webp" alt="Arrow illustration" class="imageCurveArrow">
            </div>
            <div class="card">
                <div class="cardHome front">
                    <img src="../img/FrontCard404.webp" alt="" class="returnCard">
                </div>
                <div class="cardHome back">
                    <img src="../img/BackCard404.webp" alt="" class="returnCard">
                    <a href="../index.html" class="homeWay">Home</a>
                </div>
            </div>
        </div>
    </section> -->


    <section class="mainContainerPage404">
        <div class="cardContainer">
            <section class="containerCenter">
                <div class="arrow">
                    <img src="../img/curveArrow.webp" alt="Arrow illustration" class="imageCurveArrow">
                </div>
                <div class="card">
                    <div class="cardHome front">
                        <!-- <img src="../img/FrontCard404.webp" alt="" class="returnCard"> -->
                    </div>
                    <div class="cardHome back">
                        <!-- <img src="../img/BackCard404.webp" alt="" class="returnCard"> -->
                        <a href="../index.html" class="homeWay">Home</a>
                    </div>
                </div>
            </section>


        </div>
    </section>

    <!-- JS -->

    <script src="main.js"></script>

</body>
</html>
