<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resapi</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/logo.svg"  sizes="16x16"/>
    <link rel="icon" href="../img/logo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/logo.svg" sizes="64x64"/>
    <!-- CSS Style -->
    <link rel="stylesheet" href="../assets/application.css">
    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->

    <header class="headerProjects">
        <div class="navbar">
            <a href="../index.html" class="logoIcon"><img src="../img/logo.svg" alt="Logo" class="logo"></a>
            <div class="sectionMenu">
                <a href="../index.html" class="">
                    <label for="homeIcon" class="homeIcon">
                        <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                    </label>
                </a>
                <label for="menuIcon">
                    <img class="menuImg" src="../img/menuItemIcon.svg" alt="">
                    <span class="tooltip">Projects</span>
                </label>
            </div>
            <input type="checkbox" id="menuIcon">
            <nav class="menu">
                <section class="menuLinks">
                    <label for="menuIcon">
                        <img src="../img/closeItemIcon.svg" alt="" class="closeImg">
                    </label>
                    <p class="projects">Projects</p>
                    <ul>
                        <li><a class="item" href="semed.html">Semed</a></li>
                        <li><a class="item" href="cineco.html">Cineco</a></li>
                        <li><a class="item" href="cocreva.html">Cocreva</a></li>
                        <li><a class="item" href="resapi.html">Resapi</a></li>
                        <li><a class="item" href="breakALeg.html">Break a Leg</a></li>
                        <li><a class="item" href="additionalProjects.html">Additional Projects</a></li>
                    </ul>
                    <a href="../index.html" class="return">
                        <label for="homeIcon" class="homeIcon">
                            <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                            <span class="tooltip">Home</span>
                            <input type="checkbox" id="menuIcon">
                        </label>
                    </a>
                </section>
                <section class="projectsDirect">
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Semed</h3>
                            <p class="paragraph">Designed a user-friendly app to simplify scheduling and
                                managing medical appointments. Key UX/UI features include intuitive navigation,
                                clear appointment scheduling, and an integrated chat system for direct
                                communication with healthcare providers.
                            </p>
                            <a href="semed.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cineco</h3>
                            <p class="paragraph">Redesigned a ticket booking website to enhance user experience and
                                streamline the booking process. Key UX/UI improvements include a more intuitive
                                interface, simplified navigation, and a faster, more efficient reservation system,
                                ensuring a seamless and enjoyable user journey.
                            </p>
                            <a href="cineco.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cocreva</h3>
                            <p class="paragraph">Created a focused landing page featuring a leading speaker in
                                technology and entrepreneurship. Highlighting upcoming talks and encouraging direct
                                engagement through social media channels. Key UX/UI elements include a streamlined
                                design, and intuitive navigation for easy interaction.
                            </p>
                            <a href="cocreva.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Resapi</h3>
                            <p class="paragraph">I've developed an intuitive webapp dedicated to common homemade
                                recipes that are quick to prepare. Our platform offers a variety of accessible culinary
                                options, from main dishes to desserts, designed to simplify the search, preparation,
                                and enjoyment of delicious meals in no time.
                            </p>
                            <a href="resapi.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Break a Leg</h3>
                            <p class="paragraph">Introducing "Break a Leg," a vibrant skatewear brand designed for
                                youthful skateboard enthusiasts. Our branding captures the essence of adventure and
                                self-expression inherent in skate culture. With bold designs, quality materials, and
                                an authentic approach, "Break a Leg" offers apparel that celebrates the passion and
                                energy of the skateboarding community.
                            </p>
                            <a href="breakALeg.html" class="linkProject">Branding</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Additional Projects</h3>
                            <p class="paragraph">Explore a diverse portfolio of projects showcasing expertise in Figma
                                designs, landing page creation, web development, animations, and component design.
                                Each project reflects a commitment to creativity, functionality, and user engagement,
                                utilizing cutting-edge tools and techniques to deliver exceptional digital experiences
                                across various platforms and mediums.
                            </p>
                            <a href="additionalProjects.html" class="linkProject">Additional projects</a>
                        </section>
                    </div>
                </section>
            </nav>
        </div>
    </header>

    <!-- Main Container -->

    <main class="mainContainerProjects">

        <!-- Hero Section -->

        <section class="heroSection resapi" id="heroSection">
            <div class="heroResapi">
                <img src="../img/resapiPic4.webp" alt="" class="resapiHero">
                <img src="../img/resapiPic5.webp" alt="" class="resapiHero">
            </div>
            <section class="sectionTooltip">
                <div class="tooltip">
                    <img src="../img/infoIcon.svg" alt="Tooltip Icon" class="infoIcon">
                    <p class="intro"><span class="span">"Resapi" <img src="../img/infoIcon.svg" alt="" class="iconInfo"></span>
                        I've developed an intuitive webapp dedicated to common homemade
                        recipes that are quick to prepare. Our platform offers a variety of accessible culinary
                        options, from main dishes to desserts, designed to simplify the search, preparation,
                        and enjoyment of delicious meals in no time.                    </p>
                </div>
                <img src="../img/arrowUpItemIcon.svg" alt="" class="signal">
            </section>
        </section>

        <!-- ArroUp -->

        <section class="arrowup" >
            <a href="#heroSection"><img src="../img/arrowUpItemIcon.svg" alt="" class="arrowupIcon"></a>
        </section>

        <!-- MenuSide -->

        <section class="menuSide">
            <nav class="menuProject">
                <div class="profile">
                    <img src="../img/avatar.webp" alt="" class="avatar">
                    <div>
                        <p class="paragraph">Diego Marín</p>
                        <p class="paragraph">UI Designer & Frontend Developer</p>
                    </div>
                </div>
                <ul>
                    <li><a href="#context" class="itemArea">Context and Challenge</a></li>
                    <li><a href="#research" class="itemArea">Research and Discovery</a></li>
                    <li><a href="#conceptualization" class="itemArea">Conceptualization and Design</a></li>
                    <li><a href="#implementationResapi" class="itemArea">Implementation and Results</a></li>
                    <li><a href="#technologies" class="itemArea">Technologies and Tools</a></li>
                    <li><a href="#achievementsResapi" class="itemArea">Achievements and Learnings</a></li>
                    <li><a href="#impactResapi" class="itemArea">Impact and Benefits</a></li>
                    <li><a href="#details" class="itemArea">Details available</a></li>
                </ul>
                <a class="return" href="../index.html" >
                    <label for="homeIcon" class="homeIcon">
                        <img class="homeImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                        <input type="checkbox" id="menuIcon">
                    </label>
                </a>
            </nav>
        </section>

        <!-- Context and Challenge -->

        <section class="section context" id="context">
            <div class="containerSection">
                <h2 class="title">
                    Context and Challenge
                </h2>
                <div class="sectionCovertResapi">
                    <img src="../img/resapiPic2.webp" alt="" class="resapiContext">

                    <!-- background-image in css -->

                </div>
                <div class="tag">
                    <p class="titleTag">
                        Context and Challenge
                    </p>
                </div>
                <section class="containerInfo">
                    <div class="article">
                        <h4 class="subtitle">  Vision:</h4>
                        <p class="paragraph">To create an online platform providing users
                            with access to a wide variety of recipes, culinary tips, and
                            useful tools to facilitate their cooking experience. This web
                            app is designed to be intuitive, easy to use, and tailored to
                            the specific needs of our Argentine users.
                        </p>
                    </div>
                    <div class="article">
                        <h4 class="subtitle">
                            Problem:</h4>
                        <p class="paragraph">
                            The 50% decrease in hotel activity and the 39% drop in gastronomy
                            indicate a clear reduction in the frequency with which people turn
                            to restaurants and hospitality services to meet their culinary needs.
                            Conversely, the increase from 15% to 36% in online food and beverage
                            purchases suggests a shift toward home food preparation and ingredient
                            purchasing online. These percentages indicate a change in consumption
                            habits towards greater authenticity and active participation in home
                            food preparation.
                        </p>
                    </div>
                    <div class="article">
                        <h4 class="subtitle">
                            Objective:
                        </h4>
                        <p class="paragraph">
                            To simplify and streamline the recipe search experience for users,
                            allowing them to easily find dishes that match their available ingredients,
                            culinary preferences, and quick preparation.
                        </p>
                    </div>
                </section>
                <div class="sectionCovertResapi">

                    <!-- background-image in css -->

                </div>
            </div>
        </section>

        <!-- Research and Discovery -->

        <section class="section research" id="research">
            <div class="containerSection">
                <h2 class="title">
                    Research and Discovery
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Research and Discovery
                    </p>
                </div>
                <section class="containerInfo" id="infoResapiResearch">
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle"> Research Methods:</h4>
                            <p class="paragraph">
                                <span class="bold">Benchmarking:</span>
                                Analyzed various leading recipe applications to identify strengths and weaknesses in their designs and features.
                            </p>
                            <p class="paragraph">
                                <span class="bold">Proto-personas and User Personas:</span>
                                Developed user profiles based on demographic data and behaviors gathered during research.
                            </p>
                            <p class="paragraph">
                                <span class="bold">Point of View (POV):</span>
                                Established a clear perspective to guide design decisions and prioritize features based on user needs and pain points.
                            </p>
                            <p class="paragraph">
                                <span class="bold"> Minimum Viable Product (MVP):</span>
                                Defined essential features for the initial launch, focusing on key functionalities for user attraction and retention.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> Key Findings:</h4>
                            <p class="paragraph">
                                Identified user needs and preferences for ease of use and quick food preparation.
                            </p>
                            <p class="paragraph">
                                Established filtering criteria based on available ingredients, preparation times, and other relevant factors.
                            </p>
                            <p class="paragraph">
                                Obtained valuable insights on how to structure the app to maximize user satisfaction and engagement.
                            </p>
                        </div>
                    </section>
                    <section class="rideaux">

                    <!-- background-image in css -->

                    </section>
                </section>
            </div>
        </section>

        <!-- Conceptualization and Design -->

        <section class="section conceptualization" id="conceptualization">
            <div class="containerSection">
                <h2 class="title">
                    Conceptualization and Design
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Conceptualization and Design
                    </p>
                </div>
                <section class="containerInfo" id="infoResapiConceptualization">
                    <section class="rideaux">

                        <!-- background-image in css -->

                    </section>
                    <section class="sectionSplit">
                        <div class="article">
                            <p class="paragraph">
                                Focused on professionals with little time due to their daily work, we designed an intuitive and efficient interface that allows users to:
                            </p>
                            <p class="paragraph">
                                Search for recipes filtering by ingredients, preparation time, and type of meal (lunch, dinner, desserts).
                            </p>
                            <p class="paragraph">
                                Save and share favorite recipes.
                            </p>
                            <p class="paragraph">
                                Rate and comment on recipes based on their experience
                            </p>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Implementation and Results -->

        <section class="section implementation" id="implementationResapi">
            <div class="containerSection">
                <h2 class="title">
                    Implementation and Results
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Implementation and Results
                    </p>
                </div>
                <section class="containerInfo" id="infoResapiImplementation">
                    <section class="rideaux">

                        <!-- background-image in css -->

                    </section>
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle">User Flows: </h4>
                            <p class="paragraph">
                                <span class="bold">Created two main flows:</span>
                                one for searching recipes without logging in and another for
                                continuing a recipe started previously, reminding users of their
                                last visit.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Results:</h4>
                            <p class="paragraph">
                                Reduced the time taken for searching and selecting recipes.
                            </p>
                            <p class="paragraph">
                                Increased user satisfaction and engagement, measured through surveys
                                and feedback.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> Wireframes y Prototipos:</h4>
                            <p class="paragraph">Used Figma for low and mid-fidelity wireframes
                                and interactive prototypes.
                            </p>
                            <p class="paragraph">
                                Employed Whimsical for designing user flows and task flows.
                            </p>
                            <p class="paragraph">
                                Validated the information architecture through card sorting with Optimal Workshop.
                            </p>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Technologies and Tools -->

        <section class="section technologies" id="technologies">
            <div class="containerSection">
                <h2 class="title">
                    Technologies and Tools
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Technologies and Tools
                    </p>
                </div>
                <section class="containerInfo" id="infoResapiTechnology">
                    <section class="rideaux">

                        <!-- background-image in css -->

                    </section>
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle"> Figma: </h4>
                            <p class="paragraph">
                                For low and mid-fidelity wireframes and prototypes.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Whimsical:</h4>
                            <p class="paragraph">
                                For user flows and task flows.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Optimal Workshop:</h4>
                            <p class="paragraph">
                                For card sorting and information architecture validation.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Canva:</h4>
                            <p class="paragraph">For UX reports.</p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Photoshop and Illustrator:</h4>
                            <p class="paragraph">
                                For illustrations and graphic design.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Behance:</h4>
                            <p class="paragraph">
                                As a project repository.
                            </p>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Achievements and Learnings -->

        <section class="section achievements" id="achievementsResapi">
            <div class="containerSection">
                <h2 class="title">
                    Achievements and Learnings
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Achievements and Learnings
                    </p>
                </div>
                <section class="containerInfo" id="infoResapiAchievements">
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle"> Reduction in task times:</h4>
                            <p class="paragraph">
                                Improvements in user flows allowed users to achieve their goals more quickly.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Increased user satisfaction:</h4>
                            <p class="paragraph">
                                Positive feedback reflected in surveys and comments.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Continuous improvements:</h4>
                            <p class="paragraph">
                                Implementation of enhancements based on user testing and post-launch feedback.
                            </p>
                        </div>
                    </section>
                    <section class="rideaux">

                        <!-- background-image in css -->

                    </section>
                </section>
            </div>
        </section>

        <!-- Impact and Benefits -->

        <section class="section impact" id="impactResapi">
            <div class="containerSection">
                <h2 class="title">
                    Impact and Benefits
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Impact and Benefits
                    </p>
                </div>
                <section class="containerInfo" id="infoResapiImpact">
                    <section class="sectionSplit">
                        <div class="rideaux">

                            <!-- background-image in css -->

                        </div>
                        <div class="article">
                            <h4 class="subtitle"> Community impact: </h4>
                            <p class="paragraph">
                                Encouraged home-cooked meals, increasing active participation in cooking and improving users' culinary skills.
                            </p>
                        </div>
                    </section>
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle">User benefits:</h4>
                            <p class="paragraph">
                                Provided an efficient and accessible tool for searching and preparing traditional Argentine recipes, tailored to the needs and preferences of the modern user.
                            </p>
                        </div>
                        <div class="rideaux">

                            <!-- background-image in css -->

                        </div>
                    </section>
                </section>
                <section class="lastRideaux">
                    <img src="../img/resapiPic12.webp" alt="Floating Laptop" class="resapiImage">
                </section>
            </div>
        </section>

        <!-- for more information, Detail Cards-->

        <section class="section details" id="details">
            <div class="containerSection">
                <h2 class="titleDetails">
                    For more details and to explore the project.
                </h2>
                <section class="sectionCards">
                    <div class="cards">
                        <img src="../img/behanceItemIcon.svg" class="image">
                        <section class="info">
                            <p>Discover the design journey of Resapi on Behance,
                                showcasing the process from initial concept to
                                final design. View detailed case studies, user
                                personas, wireframes, and high-fidelity mockups,
                                highlighting our focus on user-centric design and
                                culinary tradition.
                            </p>
                            <a href="page404.html" target="_blank" class="ctaItem">Behance</a>
                        </section>
                    </div>
                    <div class="cards">
                        <img src="../img/deployItemIcon.svg" class="image">
                        <section class="info">
                            <p>Resapi is live! Explore our web app, built to provide an intuitive and seamless
                                experience for users searching for traditional Argentine recipes. Deployed using
                                modern web technologies, ensuring performance, security, and scalability.
                            </p>
                            <a href="https://digoraccoon4279.github.io/ResapiApp/" target="_blank" class="ctaItem">Web site</a>
                        </section>
                    </div>
                    <div class="cards">
                        <img src="../img/githubItemIcon.svg" class="image">
                        <section class="info">
                            <p>Check out the Resapi source code on GitHub. Explore our clean and well-documented codebase,
                                including frontend and backend components. See how we implemented features and ensured a
                                robust and maintainable web app.
                            </p>
                            <a href="https://github.com/DIGORACCOON4279/ResapiApp" target="_blank" class="ctaItem">Github</a>
                        </section>
                    </div>
                    <div class="cards">
                        <img src="../img/figmaItemIcon.svg" class="image">
                        <section class="info">
                            <p>Experience Resapi’s interactive prototype, designed with Figma. Navigate
                                through key features and user flows, including recipe search, ingredient
                                filters, and favorite recipe saving. See how our design decisions improve
                                user experience.
                            </p>
                            <a href="https://www.figma.com/proto/LqcT8XUaPNz4NAszSSME09/Resapi?page-id=1%3A15&node-id=286-1376&viewport=232%2C220%2C0.06&t=nxdYLC2Pyr1kgh09-1&scaling=scale-down&starting-point-node-id=286%3A1376" target="_blank" class="ctaItem">Figma</a>
                        </section>
                    </div>
                    <div class="cards">
                        <img src="../img/uxItemIcon.svg" class="image">
                        <section class="info">
                            <p>Delve into the comprehensive UX report of Resapi, featuring user research
                                findings, usability testing insights, and iterative design improvements.
                                Understand how user feedback shaped the final product, enhancing usability
                                and satisfaction.
                            </p>
                            <a href="page404.html" target="_blank" class="ctaItem">UX report</a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>

    </main>

    <!-- Footer -->

    <!-- Contact me -->

    <footer class="contactMe" id="contactMe">
        <p class="farewell">
            I want to express my heartfelt gratitude to each of you for taking the time to check out my projects and explore my portfolio. Your interest and support mean a lot to me and drive me to continue pursuing excellence in UX/UI design.
            I hope you found inspiration and creativity in my work. Your attention and consideration are truly appreciated. If you have any questions, comments, or simply wish to share your thoughts, please feel free to get in touch with me.
            Thank you once again for being a part of this journey. I hope our paths cross again in the future!
            With gratitude 🙏
        </p>
        <h3 class="titleSection">Contact me</h3>
        <nav class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/diegomarinmora/" class="item" target="_blank"><img src="../img/linkedinItemIcon.svg" alt="LinkedIn icon" class="img"><span class="tooltip">LinkedIn</span></a></li>
                <li><a href="https://www.behance.net/diegomarin21" class="item" target="_blank"><img src="../img/behanceItemIcon.svg" alt="Behance ico" class="img"><span class="tooltip">Behance</span></a></li>
                <li><a href="../img/resume.pdf" class="item" target="_blank" download="resume.pdf"><img src="../img/resumeItemIcon.svg" alt="Resume icon" class="img"><span class="tooltip">Resume</span></a></li>
            </ul>
        </nav>
        <div class="infoDeveloper">
            <p class="name">Developed by Diego Marin with 🧡 | Colombia - Canada | 2024 |  <img src="../img/logo.svg" alt="" class="logo"></p>
        </div>
    </footer>

    <!-- JS -->

    <script src="../main.js"></script>

</body>
</html>
