<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semed</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/logo.svg"  sizes="16x16"/>
    <link rel="icon" href="../img/logo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/logo.svg" sizes="64x64"/>
    <!-- CSS Style -->
    <link rel="stylesheet" href="../assets/application.css">
    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->

    <header class="headerProjects">
        <div class="navbar">
            <a href="../index.html" class="logoIcon"><img src="../img/logo.svg" alt="Logo" class="logo"></a>
            <div class="sectionMenu">
                <a href="../index.html" class="">
                    <label for="homeIcon" class="homeIcon">
                        <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                    </label>
                </a>
                <label for="menuIcon">
                    <img class="menuImg" src="../img/menuItemIcon.svg" alt="">
                    <span class="tooltip">Projects</span>
                </label>
            </div>
            <input type="checkbox" id="menuIcon">
            <nav class="menu">
                <section class="menuLinks">
                    <label for="menuIcon">
                        <img src="../img/closeItemIcon.svg" alt="" class="closeImg">
                    </label>
                    <p class="projects">Projects</p>
                    <ul>
                        <li><a class="item" href="semed.html">Semed</a></li>
                        <li><a class="item" href="cineco.html">Cineco</a></li>
                        <li><a class="item" href="cocreva.html">Cocreva</a></li>
                        <li><a class="item" href="resapi.html">Resapi</a></li>
                        <li><a class="item" href="breakALeg.html">Break a Leg</a></li>
                        <li><a class="item" href="additionalProjects.html">Additional Projects</a></li>
                    </ul>
                    <a href="../index.html" class="return">
                        <label for="homeIcon" class="homeIcon">
                            <img class="menuImg" src="../img/homeItemIcon.svg" alt="">
                            <span class="tooltip">Home</span>
                            <input type="checkbox" id="menuIcon">
                        </label>
                    </a>
                </section>
                <section class="projectsDirect">
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Semed</h3>
                            <p class="paragraph">Designed a user-friendly app to simplify scheduling and
                                managing medical appointments. Key UX/UI features include intuitive navigation,
                                clear appointment scheduling, and an integrated chat system for direct
                                communication with healthcare providers.
                            </p>
                            <a href="semed.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cineco</h3>
                            <p class="paragraph">Redesigned a ticket booking website to enhance user experience and
                                streamline the booking process. Key UX/UI improvements include a more intuitive
                                interface, simplified navigation, and a faster, more efficient reservation system,
                                ensuring a seamless and enjoyable user journey.
                            </p>
                            <a href="cineco.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Cocreva</h3>
                            <p class="paragraph">Created a focused landing page featuring a leading speaker in
                                technology and entrepreneurship. Highlighting upcoming talks and encouraging direct
                                engagement through social media channels. Key UX/UI elements include a streamlined
                                design, and intuitive navigation for easy interaction.
                            </p>
                            <a href="cocreva.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Resapi</h3>
                            <p class="paragraph">I've developed an intuitive webapp dedicated to common homemade
                                recipes that are quick to prepare. Our platform offers a variety of accessible culinary
                                options, from main dishes to desserts, designed to simplify the search, preparation,
                                and enjoyment of delicious meals in no time.
                            </p>
                            <a href="resapi.html" class="linkProject">Case study</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Break a Leg</h3>
                            <p class="paragraph">Introducing "Break a Leg," a vibrant skatewear brand designed for
                                youthful skateboard enthusiasts. Our branding captures the essence of adventure and
                                self-expression inherent in skate culture. With bold designs, quality materials, and
                                an authentic approach, "Break a Leg" offers apparel that celebrates the passion and
                                energy of the skateboarding community.
                            </p>
                            <a href="breakALeg.html" class="linkProject">Branding</a>
                        </section>
                    </div>
                    <div class="slide">
                        <section class="block">
                            <h3 class="projectTitle">Additional Projects</h3>
                            <p class="paragraph">Explore a diverse portfolio of projects showcasing expertise in Figma
                                designs, landing page creation, web development, animations, and component design.
                                Each project reflects a commitment to creativity, functionality, and user engagement,
                                utilizing cutting-edge tools and techniques to deliver exceptional digital experiences
                                across various platforms and mediums.
                            </p>
                            <a href="additionalProjects.html" class="linkProject">Additional projects</a>
                        </section>
                    </div>
                </section>
            </nav>
        </div>
    </header>

    <!-- Main Container -->

    <main class="mainContainerProjects">

        <!-- Hero Section -->

        <section class="heroSection semed" id="heroSection">
            <div class="heroSemed">
                <img src="../img/semedHero.webp" alt="" class="semedHero">
                <img src="../img/semedHeroCellphone.webp" alt="" class="semedHero">
            </div>
            <section class="sectionTooltip">
                <div class="tooltip">
                    <img src="../img/infoIcon.svg" alt="Tooltip Icon" class="infoIcon">
                    <p class="intro"><span class="span">"Semed" <img src="../img/infoIcon.svg" alt="" class="iconInfo"></span> Designed a user-friendly app to simplify scheduling and
                        managing medical appointments. Key UX/UI features include intuitive navigation,
                        clear appointment scheduling, and an integrated chat system for direct
                        communication with healthcare providers.
                    </p>
                </div>
                <img src="../img/arrowUpItemIcon.svg" alt="" class="signal">
            </section>
        </section>

        <!-- ArrowUp -->

        <section class="arrowup" >
            <a href="#heroSection"><img src="../img/arrowUpItemIcon.svg" alt="" class="arrowupIcon"></a>
        </section>

        <!-- MenuSide -->

        <section class="menuSide">
            <nav class="menuProject">
                <div class="profile">
                    <img src="../img/avatar.webp" alt="" class="avatar">
                    <div>
                        <p class="paragraph">Diego Marín</p>
                        <p class="paragraph">UI Designer & Frontend Developer</p>
                    </div>
                </div>
                <ul>
                    <li><a href="#context" class="itemArea">Context and Challenge</a></li>
                    <li><a href="#research" class="itemArea">Research and Discovery</a></li>
                    <li><a href="#conceptualization" class="itemArea">Conceptualization and Design</a></li>
                    <li><a href="#implementation" class="itemArea">Implementation and Results</a></li>
                    <li><a href="#technologies" class="itemArea">Technologies and Tools</a></li>
                    <li><a href="#achievements" class="itemArea">Achievements and Learnings</a></li>
                    <li><a href="#impact" class="itemArea">Impact and Benefits</a></li>
                    <li><a href="#details" class="itemArea">Details available</a></li>
                </ul>
                <a class="return" href="../index.html" >
                    <label for="homeIcon" class="homeIcon">
                        <img class="homeImg" src="../img/homeItemIcon.svg" alt="">
                        <span class="tooltip">Home</span>
                        <input type="checkbox" id="menuIcon">
                    </label>
                </a>
            </nav>
        </section>

        <!-- Context and Challenge -->

        <section class="section context" id="context">
            <div class="containerSection">
                <h2 class="title">
                    Context and Challenge
                </h2>
                <div class="sectionCovertSemed">

                    <!-- background-image in css -->

                </div>
                <div class="tag">
                    <p class="titleTag">
                        Context and Challenge
                    </p>
                </div>
                <section class="containerInfo">
                    <div class="article">
                        <h4 class="subtitle">Project Context:</h4>
                        <p class="paragraph">SeMed emerged in response to the increasing need
                            to facilitate access to specialized medical consultations quickly
                            and efficiently. In an environment where in-person visits can be
                            inconvenient and stressful, there is a growing demand for medical
                            services that are accessible from any location.
                        </p>
                    </div>
                    <div class="article">
                        <h4 class="subtitle">Challenge:</h4>
                        <p class="paragraph">The primary challenge was to develop a platform that
                            would allow users to schedule medical appointments quickly and personalized.
                            This included minimizing wait times and simplifying the booking process,
                            adapting to patients' specific needs, and ensuring the availability of
                            specialists according to the required specialty.
                        </p>
                    </div>
                    <div class="article">
                        <h4 class="subtitle">Project Objective:</h4>
                        <p class="paragraph">The main objective of SeMed was to create a mobile
                            application that enables users to book virtual consultations with medical
                            specialists efficiently and conveniently, thereby improving accessibility
                            and the quality of healthcare.
                        </p>
                    </div>
                    <section class="contextCellphone">
                        <img src="../img/semedContextCellphone.webp" alt="" class="semedContext">
                    </section>
                </section>
            </div>
        </section>

        <!-- Research and Discovery -->

        <section class="section research " id="research">
            <div class="containerSection">
                <h2 class="title">
                    Research and Discovery
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Research and Discovery
                    </p>
                </div>
                <section class="containerInfo" id="containerInfo">
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle">Benchmarking:</h4>
                            <p class="paragraph">
                                Conducted a benchmarking analysis comparing SeMed with three leading
                                medical appointment apps to assess UX/UI design, feature set, and
                                operational efficiency.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Proto-personas:</h4>
                            <p class="paragraph">
                                Developed proto-personas based on demographic and behavioral data to
                                represent potential users.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Point of View (POV):</h4>
                            <p class="paragraph">
                                Established a clear POV to guide design decisions and prioritize features based on user needs and pain points.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Minimum Viable Product (MVP):</h4>
                            <p class="paragraph">
                                Defined the MVP features necessary to launch SeMed, focusing on core functionalities essential for initial user engagement and satisfaction.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">User Personas:</h4>
                            <p class="paragraph">
                                Created detailed user personas capturing the goals, motivations, and
                                behaviors of target users, ensuring the design aligns with their
                                preferences and expectations.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Key Findings: </h4>
                            <p class="paragraph">
                                Identified strengths and weaknesses in competitor apps, informing design and feature enhancements for SeMed.
                                Established actionable insights from proto-personas and user personas to tailor SeMed's user experience to meet diverse user needs effectively.
                                Prioritized MVP features crucial for delivering value and usability in the initial product release.
                                Aligned SeMed's design decisions with user-centric perspectives to enhance engagement and satisfaction.
                            </p>
                        </div>
                    </section>
                    <img src="../img/semedResearch.webp" alt="" class="semedResearch">
                </section>
            </div>
        </section>

        <!-- Conceptualization and Design -->

        <section class="section conceptualization" id="conceptualization">
            <div class="containerSection">
                <h2 class="title">
                    Conceptualization and Design
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Conceptualization and Design
                    </p>
                </div>
                <section class="containerInfo" id="InfoConceptualization">
                    <img src="../img/conceptualization.webp" alt="" class="imgConceptualization">
                    <section class="sectionSplit">
                        <div class="article">
                            <h4 class="subtitle">Project Context:</h4>
                            <p class="paragraph">
                                SeMed was developed for busy professionals who have limited time due
                                to demanding work schedules, facilitating quick management of virtual
                                medical consultations.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Primary Objective:</h4>
                            <p class="paragraph">
                                To create a digital platform that allows users to efficiently and
                                conveniently schedule medical appointments, tailored to their schedules
                                and specific needs.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Challenges Addressed:</h4>
                            <p class="paragraph"> <span class="bold">Technical Challenges:</span> Secure integration with healthcare systems and insurers.</p>
                            <p class="paragraph"><span class="bold">Design Challenges:</span> Designing an intuitive and accessible interface for fast navigation on mobile devices.</p>
                            <p class="paragraph"><span class="bold">User Needs:</span> Prioritizing speed and convenience in managing medical appointments.</p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Design Methodology:</h4>
                            <p class="paragraph">
                                An agile approach based on Design Thinking was applied to understand user needs, prototype rapid solutions, and iteratively validate the interface design.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Innovative Aspects:</h4>
                            <p class="paragraph">
                                SeMed stood out for personalizing the user experience, offering efficient medical consultations from any location, enhancing accessibility for busy professionals.
                            </p>
                        </div>
                    </section>
                </section>
                <section class="containerInfo" id="infoWireframes">
                    <div class="article">
                        <h4 class="subtitle">Wireframes:</h4>
                        <p class="paragraph"> Creation of low and mid-fidelity wireframes in Figma.</p>
                        <section class="wireframes">
                            <img src="../img/wireframe.webp" alt="" class="wireframe">
                        </section>
                    </div>
                    <div class="article">
                        <h4 class="subtitle">Prototypes:</h4>
                        <p class="paragraph"> Development of interactive prototypes in Figma for user testing.</p>
                        <section class="prototypes">
                            <img src="../img/prototypeMedia.webp" alt="" class="prototype">
                        </section>
                    </div>
                </section>
            </div>
        </section>

        <!-- Implementation and Results -->

        <section class="section implementation" id="implementation">
            <div class="containerSection">
                <h2 class="title">
                    Implementation and Results
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Implementation and Results
                    </p>
                </div>
                <section class="containerInfo">
                    <div class="article">
                        <h4 class="subtitle"> Implementation:</h4>
                        <p class="paragraph">
                            SeMed was developed and implemented by a multidisciplinary team using
                            agile methodologies to iterate on the application's design and
                            functionality.
                        </p>
                    </div>
                    <div class="article">
                        <h4 class="subtitle">Results:</h4>
                        <p class="paragraph"><span class="bold">Achievements:</span> Successful MVP launch with key functionalities for scheduling virtual medical consultations.</p>
                        <p class="paragraph"><span class="bold">Learnings:</span> Identification of areas for improvement in healthcare system integration and user experience.</p>
                        <p class="paragraph"><span class="bold">Feedback:</span> Positive user reception for ease of use and convenience offered by SeMed.</p>
                        <section class="prototypes">
                            <img src="../img/prototypeFinal.webp" alt="" class="prototype">
                        </section>
                    </div>
                </section>
            </div>
        </section>

        <!-- Technologies and Tools -->

        <section class="section technologies" id="technologies">
            <div class="containerSection">
                <h2 class="title">
                    Technologies and Tools
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Technologies and Tools
                    </p>
                </div>
                <section class="containerInfo">
                    <section class="infoSplit">
                        <div class="article">
                            <h4 class="subtitle"> Design Tools:</h4>
                            <p class="paragraph"><span class="bold">Figma:</span> Used for creating low and medium fidelity wireframes, prototyping, and refining user interface designs.</p>
                            <p class="paragraph"><span class="bold">Whimsical: </span> Utilized for mapping out user flows and task flows to visualize user interactions and application workflows.</p>
                            <p class="paragraph"><span class="bold">Photoshop & Illustrator:</span> Employed for detailed graphic design work, including creating illustrations, icons, and refining visual elements.</p>
                            <p class="paragraph"><span class="bold">Canva:</span> Produced UX, PT, and AI reports, incorporating illustrations to enhance visual communication of user experience concepts.</p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> UX Research and Validation:</h4>
                            <p class="paragraph">
                                <span class="bold"> Optimal Workshop:</span> Conducted dendrogram and card sorting exercises to validate information architecture and optimize usability.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Portfolio and Communication:</h4>
                            <p class="paragraph">
                                <span class="bold">Behance: </span>
                                Served as a repository for showcasing project portfolios and design work to a broader audience.
                            </p>
                        </div>
                    </section>
                    <section class="mockups">
                        <img src="../img/semedCellphone1.webp" alt="" class="mockup">
                    </section>
                </section>
            </div>
        </section>

        <!-- Achievements and Learnings -->

        <section class="section achievements" id="achievements">
            <div class="containerSection">
                <h2 class="title">
                    Achievements and Learnings
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Achievements and Learnings
                    </p>
                </div>
                <section class="containerInfo" >
                    <section class="infoSplit">
                        <div class="article">
                            <h4 class="subtitle">Achievements:</h4>
                            <p class="paragraph">
                                Timely MVP launch within budget and scope.
                                Continuous improvement of user experience through iterative feedback-based iterations.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle">Learnings:</h4>
                            <p class="paragraph">
                                Importance of data security in digital healthcare platforms.
                                Need for adaptability in design to meet evolving user expectations.
                            </p>
                        </div>
                    </section>
                    <section class="mockups">
                        <img src="../img/semedCellphone2.webp" alt="" class="mockup">
                    </section>
                </section>
            </div>
        </section>

        <!-- Impact and Benefits -->

        <section class="section impact" id="impact">
            <div class="containerSection">
                <h2 class="title">
                    Impact and Benefits
                </h2>
                <div class="tag">
                    <p class="titleTag">
                        Impact and Benefits
                    </p>
                </div>
                <section class="containerInfo">
                    <section class="infoImpact">
                        <div class="article">
                            <h4 class="subtitle">Impact:</h4>
                            <p class="paragraph">
                                Improved accessibility to healthcare for busy professionals.
                                Significant reduction in wait times for medical appointment management.
                            </p>
                        </div>
                        <div class="article">
                            <h4 class="subtitle"> Benefits:</h4>
                            <p class="paragraph">
                                Increased user satisfaction by enabling quick and efficient management of medical appointments.
                                Optimization of resources in the healthcare system by facilitating virtual healthcare delivery.
                            </p>
                        </div>
                    </section>
                    <section class="sectionImpact">

                        <!-- Include background from CSS-->

                    </section>
                </section>
                <section class="impactCellphone">
                    <img src="../img/semedImpactCellphone.webp" alt="" class="semedImpact">
                </section>
            </div>
            </section>

            <!-- for moreinformation, Detail Cards-->

            <section class="section details" id="details">
            <div class="containerSection">
                <h2 class="titleDetails">
                    For more details and to explore the project.
                </h2>
                <section class="sectionCards">
                    <div class="cards">
                        <img src="../img/behanceItemIcon.svg" class="image">
                        <section class="info">
                            <p>SeMed is a revolutionary medical appointment app designed to streamline
                                the booking process for patients and healthcare providers. It offers a
                                seamless user experience, allowing users to schedule virtual consultations
                                with various specialists based on their specific needs and availability.
                            </p>
                            <a href="https://www.behance.net/gallery/169557755/Diseno-UXUI-SeMed-App-Medica" target="_blank" class="ctaItem">Behance</a>
                        </section>
                    </div>
                    <div class="cards">
                        <img src="../img/figmaItemIcon.svg" class="image">
                        <section class="info">
                            <p>I developed an innovative user interface using Figma,
                                focused on enhancing usability and user experience
                            </p>
                            <a href="https://www.figma.com/proto/TWnbDBVZjTFJI1WylSezEb/dise%C3%B1o-UX%2FUI?page-id=493%3A19360&node-id=1533-37380&viewport=510%2C294%2C0.03&t=cTkrbbu8X4KYSpaS-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=1533%3A37380&show-proto-sidebar=1" target="_blank" class="ctaItem">Prototype</a>
                        </section>
                    </div>
                    <div class="cards">
                        <img src="../img/deployItemIcon.svg" class="image">
                        <section class="info">
                            <p>Explore the comprehensive UX research report that delves into
                                the user-centric design process behind Semed. Utilizing tools like Optimal Workshop and Figma,
                                this report identifies user needs, pain points, and actionable
                                insights to enhance the overall user experience.
                            </p>
                            <a href="https://www.canva.com/design/DAFgae7Sz8Q/7HOlpxPdOQg8jdZEWqshdA/view?utm_content=DAFgae7Sz8Q&utm_campaign=designshare&utm_medium=link&utm_source=viewer" target="_blank" class="ctaItem">UX report</a>
                        </section>
                    </div>
                </section>
                <section class="arrows">
                    <img src="../img/arrowLeftItemIcon.svg" alt="" class="arrow prev">
                    <img src="../img/arrowRightItemIcon.svg" alt="" class="arrow next">
                </section>
            </div>
        </section>
    </main>

    <!-- Footer -->

    <!-- Contact me -->

    <footer class="contactMe" id="contactMe">
        <p class="farewell">
            I want to express my heartfelt gratitude to each of you for taking the time to check out my projects and explore my portfolio. Your interest and support mean a lot to me and drive me to continue pursuing excellence in UX/UI design.
            I hope you found inspiration and creativity in my work. Your attention and consideration are truly appreciated. If you have any questions, comments, or simply wish to share your thoughts, please feel free to get in touch with me.
            Thank you once again for being a part of this journey. I hope our paths cross again in the future!
            With gratitude 🙏
        </p>
        <h3 class="titleSection">Contact me</h3>
        <nav class="socialMedia">
            <ul>
                <li><a href="https://www.linkedin.com/in/diegomarinmora/" class="item" target="_blank"><img src="../img/linkedinItemIcon.svg" alt="LinkedIn icon" class="img"><span class="tooltip">LinkedIn</span></a></li>
                <li><a href="https://www.behance.net/diegomarin21" class="item" target="_blank"><img src="../img/behanceItemIcon.svg" alt="Behance ico" class="img"><span class="tooltip">Behance</span></a></li>
                <li><a href="../img/resume.pdf" class="item" target="_blank" download="resume.pdf"><img src="../img/resumeItemIcon.svg" alt="Resume icon" class="img"><span class="tooltip">Resume</span></a></li>
            </ul>
        </nav>
        <div class="infoDeveloper">
            <p class="name">Developed by Diego Marin with 🧡 | Colombia - Canada | 2024 |  <img src="../img/logo.svg" alt="" class="logo"></p>
        </div>
    </footer>

    <!-- JS -->

    <script src="../main.js"></script>

</body>
</html>
