
/* MediaQueries Landing Page */

/* Navbar */

/* Screen min-width 601px && max-width 850px*/

@media (min-width: 601px) and (max-width: 850px){
    .header .navbar{
        position: relative;
    }
    .header .navbar .menuSide{
        display:block;
    }
    .header .navbar .menuSide .itemMenu,
    .header .navbar .menu .menuSide .itemClose{
        display:block;
        width:35px;
        height:auto;
        cursor:pointer;
    }
    .header .navbar #input:checked ~ .menu{
        opacity: 1;
        transform: translateX(-45vw);
    }
    .header .navbar .menu{
        width:45vw;
        height:100vh;
        padding:25px;
        position:fixed;
        top:0%;
        right:-45vw;
        opacity: 0;
        display: flex;
        background-color: #fdfdfd;
        transform:translateX(0%);
        transition:transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    .header .navbar .menu ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fdfdfd00;
        backdrop-filter: blur(10px);
    }
}

/* Screen min-width 300px && max-width 600px*/

@media (min-width: 300px) and (max-width: 600px) {
    .header .navbar{
        position: relative;
    }
    .header .navbar .menuSide{
        display:block;
    }
    .header .navbar .menuSide .itemMenu,
    .header .navbar .menu .menuSide .itemClose{
        display:block;
        width:35px;
        height:auto;
        cursor:pointer;
    }
    .header .navbar #input:checked ~ .menu{
        opacity: 1;
        transform: translateX(-100vw);
    }
    .header .navbar .menu{
        width:100vw;
        height:100vh;
        padding:25px;
        position:fixed;
        top:0%;
        right:-100vw;
        opacity: 0;
        display: flex;
        background-color: #fdfdfd;
        transform:translateX(0%);
        transition:transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    .header .navbar .menu ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fdfdfd00;
        backdrop-filter: blur(10px);
    }
}

  /* Portfolio Section  */

@media (min-width: 0px) and (max-width: 1000px){
    .mainContainer .portfolio .sectionProjects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .mainContainer .portfolio .sectionProjects .project{
        width:auto;
        height: 60vh;
    }
}

/* Services Section  */

/* Screen min-width 0px && max-width 1150px*/

@media (min-width: 0px) and (max-width: 1150px){
    .mainContainer .services .profile{
        flex-wrap: wrap;
    }
    .mainContainer .services .profile .generalDescription{
        order:1;
    }
}

/* About me Section  */

/* Screen min-width 0px && max-width 750px*/

@media (min-width: 0px) and (max-width: 750px){
    .mainContainer .aboutMe .sectionSplit{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap:100px;
    }
}

/* Development Section  */

/* Screen min-width 0px && max-width 1250px*/

@media (min-width: 0px) and (max-width:1250px){
    .mainContainer .heroSection{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainContainer .heroSection .rightSide,
    .mainContainer .heroSection .leftSide{
        width: 100%;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mainContainer .heroSection .rightSide{
        flex-wrap: wrap;
        gap: 10px;
        border-left: none;
        border-top:1px solid #ffffff;
        order: 2;
    }
    .mainContainer .heroSection .leftSide .titleLeftSide{
        animation:titleLeftSide 0.5s linear;
    }
    @keyframes titleLeftSide{
        0%{
            transform: translateY(200%);
            opacity:0;
        }
        100%{
            transform: translateY(0%);
            opacity:1;
        }
    }
    .mainContainer .heroSection .rightSide .itemRightSide{
        animation: itemRightSide 0.5s linear;
    }
    @keyframes itemRightSide{
        0%{
            transform: translateY(-500%);
            opacity:0;
        }
        100%{
            transform: translateY(0%);
            opacity:1;
        }
    }

    /* Portfolio Section */

    .webDevelopment .portfolioWeb{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px
    }
    .webDevelopment .portfolioWeb .laptop{
        width:100%;
        order:1;
    }
    .webDevelopment .portfolioWeb div {
        width:100%;
        text-align: left;
    }
    .webDevelopment .portfolioWeb div .ctaPortfolio{
        width:30%;
        text-align: left;
    }
}

/* Services Section  */

/* Screen min-width 0px && max-width 500px*/

@media (min-width: 0px) and (max-width:450px){
    .webDevelopment .portfolioWeb div .ctaPortfolio{
        width:100%;
    }
    .mainContainer .services .profile .generalDescription{
        width:100%;
    }
}

/* letter Size */

/* Screen min-width 0px && max-width 750px*/

@media (min-width: 0px) and (max-width:750px){
    .mainContainer .heroSection .leftSide .titleLeftSide{
        font-size: 4.5rem;
    }
    .mainContainer .heroSection .rightSide .titleRightSide{
        font-size: 2rem;
        line-height: 40px;
    }
    .mainContainer .portfolio .titleSection,
    .mainContainer .services .titleSection,
    .mainContainer .aboutMe .titleSection,
    .mainContainer .webDevelopment .titleSection{
        font-size: 2rem;
        color:#afafaf;
    }
    .mainContainer .portfolio .sectionPortfolio p{
        font-size: 0.8rem;
    }
    .mainContainer .portfolio .sectionProjects .project .blockProject .subtitleProject{
        font-size: 1.8rem;
    }
    .mainContainer .portfolio .sectionProjects .project .blockProject .paragraph{
        font-size: 0.8rem;
    }
    .mainContainer .portfolio .sectionProjects .project .blockProject .ctaProject{
        font-size: 0.9rem;
    }
    .mainContainer .portfolio .sectionProjects .project .blockProject .ctaProject.ctaProject:hover::after{
        font-size: 0.9rem;
    }
    .mainContainer .services .sectionServices p{
        font-size: 0.8rem;
    }
    .mainContainer .services .profile .generalDescription .options label{
        font-size: 0.8rem;
    }
    .mainContainer .services .profile .slider .userExperience div,
    .mainContainer .services .profile .slider .interactionDesign div,
    .mainContainer .services .profile .slider .visualDesign div{
        top:30%;
    }
    .mainContainer .services .profile .slider .userExperience div p,
    .mainContainer .services .profile .slider .interactionDesign div p,
    .mainContainer .services .profile .slider .visualDesign div p{
        font-size: 0.6rem;
    }
    .mainContainer .sectionAboutMe h4{
        font-size: 1.2rem;
    }
    .mainContainer .sectionAboutMe p{
        font-size: 0.8rem;
    }
    .webDevelopment .portfolioWeb div p{
        font-size: 0.8rem;
    }
    .webDevelopment .portfolioWeb div .ctaPortfolio{
        font-size: 0.9rem;
    }
    .webDevelopment .portfolioWeb .ctaPortfolio:hover::after{
        font-size: 0.8rem;
    }

    /* Footer  */

    .contactMe .farewell{
        font-size: 0.8rem;
    }
    .contactMe .titleSection{
        font-size: 1rem;
    }
}

/* letter Size */

/* Screen min-width 280px && max-width 450px*/

@media (min-width: 280px) and (max-width:450px){
    .mainContainer .heroSection .rightSide,
    .mainContainer .heroSection .leftSide{
        padding: 40px 0px;
    }
    .mainContainer .heroSection .leftSide .titleLeftSide{
        font-size: 3.5rem;
    }
    .mainContainer .heroSection .rightSide .titleRightSide{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .mainContainer .portfolio .titleSection,
    .mainContainer .services .titleSection,
    .mainContainer .aboutMe .titleSection,
    .mainContainer .webDevelopment .titleSection{
        font-size: 2rem;
        color:#afafaf;
    }
    .mainContainer .portfolio .sectionPortfolio p{
        font-size: 0.8rem;
    }
    .mainContainer .portfolio .sectionProjects .project .blockProject .subtitleProject{
        font-size: 1.8rem;
    }
    .mainContainer .portfolio .sectionProjects .project .blockProject .paragraph{
        font-size: 0.8rem;
    }
    .mainContainer .portfolio .sectionProjects .project .blockProject .ctaProject{
        font-size: 0.9rem;
    }
    .mainContainer .portfolio .sectionProjects .project .blockProject .ctaProject.ctaProject:hover::after{
        font-size: 0.9rem;
    }
    .mainContainer .services .sectionServices p{
        font-size: 0.8rem;
    }
    .mainContainer .services .profile .generalDescription .options label{
        font-size: 0.8rem;
    }
    .mainContainer .services .profile .slider .userExperience div,
    .mainContainer .services .profile .slider .interactionDesign div,
    .mainContainer .services .profile .slider .visualDesign div{
        top:30%;
    }
    .mainContainer .services .profile .slider .userExperience div p,
    .mainContainer .services .profile .slider .interactionDesign div p,
    .mainContainer .services .profile .slider .visualDesign div p{
        font-size: 0.6rem;
    }
    .mainContainer .sectionAboutMe h4{
        font-size: 1.2rem;
    }
    .mainContainer .sectionAboutMe p{
        font-size: 0.8rem;
    }
    .webDevelopment .portfolioWeb div p{
        font-size: 0.8rem;
    }
    .webDevelopment .portfolioWeb div .ctaPortfolio{
        font-size: 0.9rem;
    }
    .webDevelopment .portfolioWeb .ctaPortfolio:hover::after{
        font-size: 0.8rem;
    }

    /* Footer  */

    .contactMe .farewell{
        font-size: 0.8rem;
    }
    .contactMe .titleSection{
        font-size: 1rem;
    }
}
