

/* MediaQueries Projects */

/* Navbar - Header Projects*/

/* Screen min-width 601px && max-width 950px */

@media (min-width: 601px) and (max-width: 950px){
    .headerProjects .navbar .menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top:0;
        right:0;
        opacity:0;
        background-color: #00000098;
        transition:  background-color 0.4s ease-in-out, opacity 0.1s ease-in-out ;
    }
    .headerProjects .navbar #menuIcon:checked ~ .menu {
        opacity:1;
    }
    .headerProjects .navbar .menu .projectsDirect{
        display:none;
    }
    .headerProjects .navbar .menu .menuLinks {
        width: 45vw;
        align-items: center;
    }
    .headerProjects .navbar .menu .menuLinks ul{
        width:90%;
    }
}
@media (min-width: 0px) and (max-width: 600px){
    .headerProjects .navbar .menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top:0;
        right:0;
        opacity:0;
        transform: translateX(100%);
        transition: transform 0.15s ease-in-out, opacity 0.05s ease-in-out ;
    }
    .headerProjects .navbar #menuIcon:checked ~ .menu {
        opacity:1;
        transform: translateX(0%);
    }
    .headerProjects .navbar .menu .projectsDirect{
        display:none;
    }
    .headerProjects .navbar .menu .menuLinks {
        width: 100vw;
        align-items: center;
    }
    .headerProjects .navbar .menu .menuLinks ul{
        width:70%;
    }
}

/* MenuSide Projects*/

/* Screen min-width 0px && max-width 850px*/

@media (min-width: 0px) and (max-width: 1200px){
    .mainContainerProjects{
        width:100%;
        height:auto;
        margin-bottom: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "heroSection heroSection"
        "context context"
        "research research"
        "conceptualization conceptualization"
        "implementation implementation"
        "technologies technologies"
        "achievements achievements"
        "impacts impacts"
        "details details"
        ;
    }
    .mainContainerProjects .menuSide{
        display:none;
    }
}

/* Project Tooltip*/

/* Screen min-width 0px && max-width 750px*/

@media (min-width: 0px) and (max-width: 750px){
    .mainContainerProjects .heroSection .sectionTooltip .tooltip .intro{
        width: 80vw;
    }
}

@media (min-width: 0px) and (max-width: 680px){
    .mainContainerProjects .section .containerSection .title,
    .mainContainerProjects .details div.containerSection .titleDetails{
        font-size: 1.3rem;
        text-align: center;
    }

    /* Project Section Titles */

    .mainContainerProjects .section .containerSection .containerInfo .article .subtitle{
        font-size: 1.1rem;
    }
    .mainContainerProjects .section .containerSection .containerInfo .article .paragraph{
        font-size: 0.8rem;
    }
    .mainContainerProjects .section .containerSection .containerInfo .article .paragraph .bold{
        font-size: 0.8rem;
    }
    .mainContainerProjects .details div.containerSection .sectionCards .cards .info p {
        font-size: 0.8rem;
    }
}

 /* Project Containers */

 /* Semed */

 /* Context & challenge */

/* Screen min-width 801px && max-width 1200px*/

@media (min-width: 901px) and (max-width: 1200px){
    .mainContainerProjects .section .containerSection .containerInfo .contextCellphone .semedContext{
        width:45%;
    }
    .mainContainerProjects .section .containerSection .impactCellphone .semedImpact{
        width:30%;
    }
}

/* Screen min-width 601px && max-width 900px*/

@media (min-width: 601px) and (max-width: 900px){
    .mainContainerProjects .section .containerSection .containerInfo .contextCellphone .semedContext{
        width:55%;
    }
    .mainContainerProjects .section .containerSection .impactCellphone .semedImpact{
        width:40%;
    }
}

/* Screen min-width 451px && max-width 600px*/

@media (min-width: 451px) and (max-width: 600px){
    .mainContainerProjects .section .containerSection .containerInfo .contextCellphone .semedContext{
        width:75%;
    }
    .mainContainerProjects .section .containerSection .impactCellphone .semedImpact{
        width:50%;
    }
}

/* Screen min-width 0px && max-width 450px*/

@media (min-width: 0px) and (max-width: 450px){
    .mainContainerProjects .section .containerSection .containerInfo .contextCellphone .semedContext{
        width:85%;
    }
    .mainContainerProjects .section .containerSection .impactCellphone .semedImpact{
        width:55%;
    }
}

/* Screen min-width 0px && max-width 550px*/

@media (min-width: 0px) and (max-width: 550px){
    .mainContainerProjects #context .containerSection .containerInfo,
    .mainContainerProjects #implementation .containerSection .containerInfo{
        gap:8rem;
    }
    .mainContainerProjects #context .containerSection .containerInfo .contextCellphone{
        margin-top: -50px;
    }
    .mainContainerProjects #conceptualization .containerSection .containerInfo .sectionSplit:last-child{
        margin-bottom:5rem;
    }
    .mainContainerProjects .section .containerSection #containerInfo,
    .mainContainerProjects .section .containerSection #InfoConceptualization,
    .mainContainerProjects #technologies .containerSection .containerInfo,
    .mainContainerProjects #achievements .containerSection .containerInfo{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .mainContainerProjects .section .containerSection #containerInfo .sectionSplit,
    .mainContainerProjects .section .containerSection #InfoConceptualization .sectionSplit{
        gap:8rem;
        order:1;
    }
    .mainContainerProjects .section .containerSection #containerInfo .semedResearch,
    .mainContainerProjects .section .containerSection #InfoConceptualization .imgConceptualization,
    .mainContainerProjects #technologies .containerSection .containerInfo .mockups,
    .mainContainerProjects #achievements .containerSection .containerInfo .mockups{
        position: static;
    }
    .mainContainerProjects .section .containerSection .containerInfo .article .wireframes .wireframe,
    .mainContainerProjects .section .containerSection .containerInfo .article .prototypes .prototype{
        width:100%;
        margin: 8rem auto 100px;
    }
    .mainContainerProjects .section .containerSection .containerInfo .article .prototypes .prototype{
        margin-bottom: 0px;
    }
    .mainContainerProjects #technologies .containerSection .containerInfo .infoSplit,
    .mainContainerProjects #achievements .containerSection .containerInfo .infoSplit,
    .mainContainerProjects #impact .containerSection .containerInfo .infoImpact{
        gap:8rem;
    }
}

/* Screen min-width 0px && max-width 950px*/

@media (min-width: 0px) and (max-width: 950px){
    .mainContainerProjects .section .containerSection .containerInfo .sectionImpact{
        display:none;
    }
}

/* Cineco */

 /* Context & challenge */

/* Screen min-width 901px && max-width 1200px*/

@media (min-width: 901px) and (max-width: 1200px){
    .mainContainerProjects .section .containerSection .cellphoneCineco .cellphone{
        width:45%;
    }
}

/* Screen min-width 601px && max-width 900px*/

@media (min-width: 601px) and (max-width: 900px){
    .mainContainerProjects .section .containerSection .cellphoneCineco .cellphone{
        width:55%;
    }
}

/* Screen min-width 451px && max-width 600px*/

@media (min-width: 451px) and (max-width: 600px){
    .mainContainerProjects .section .containerSection .cellphoneCineco .cellphone{
        width:75%;
    }
}

/* Screen min-width 0px && max-width 450px*/

@media (min-width: 0px) and (max-width: 450px){
    .mainContainerProjects .section .containerSection .cellphoneCineco .cellphone{
        width:85%;
    }
}

/* -- Cineco Research and Discovery --*/

/* Screen min-width 0px && max-width 550px*/

@media (min-width: 0px) and (max-width: 550px){
    .mainContainerProjects .section .containerSection #InfoCinecoResearch{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        display: flex;
        flex-direction: column-reverse;
    }
    .mainContainerProjects .section .containerSection #InfoCinecoResearch .cinecoResearch{
       position: static;
    }

}










/* HeroSections*/

/* Screen min-width 0px && max-width 950px*/

/* Semed */

@media (min-width:0px) and (max-width: 950px){
    .mainContainerProjects .context .containerSection .sectionCovertSemed{
        background-attachment: local;
        background-size: cover;
        background-position: center right;
        height:25vh;
    }
}
@media (min-width: 0px) and (max-width: 550px){
    .mainContainerProjects .context .containerSection .sectionCovertSemed{
        height:15vh;
    }
}

/* Cineco */

@media (min-width:0px) and (max-width: 950px){
    .mainContainerProjects .context .containerSection .sectionCovertCineco{
        height:25vh;

    }
}
@media (min-width: 0px) and (max-width: 550px){
    .mainContainerProjects .context .containerSection .sectionCovertCineco{
        height:15vh;
    }
}

/* Screen min-width 0px && max-width 750px*/

@media (min-width: 551px) and (max-width: 750px){
    .mainContainerProjects .heroSection .heroSemed{
        width:95%;
        justify-content: center;
    }
    /* .mainContainerProjects .heroSection .heroSemed .semedHero:first-child{
        width:54%;
    }
    .mainContainerProjects .heroSection .heroSemed .semedHero:last-child{
        width:34%;
    } */
}
@media (min-width: 0px) and (max-width: 550px){
    .mainContainerProjects .heroSection .heroSemed{
        width:100%;
        justify-content: center;
        gap:20px;
    }
    .mainContainerProjects .heroSection .heroSemed .semedHero:first-child{
        width:44%;
    }
    .mainContainerProjects .heroSection .heroSemed .semedHero:last-child{
        width:30%;
    }
}

/* Cineco */

@media (min-width:0px) and (max-width: 750px){
    .mainContainerProjects .heroSection .heroCineco{
        width:100%;
    }
}

/* Cocreva */

@media (min-width:0px) and (max-width: 750px){
    .mainContainerProjects .heroSection .heroCocreva{
        width:100%;
    }
    .mainContainerProjects .heroSection .heroCocreva .cocrevaHero{
        width:80%;
    }
}


/* Resapi */

@media (min-width:0px) and (max-width: 750px){
    .mainContainerProjects .heroSection .heroResapi{
        width:100%;
    }
}

/* Break a Leg */

@media (min-width:0px) and (max-width: 750px){
    .mainContainerProjects .heroSection .heroBreakALeg{
        width:90%;
        gap:20px;
    }
    .mainContainerProjects .heroSection .heroBreakALeg .breakALegHero:first-child{
        width: 70%;
    }
    .mainContainerProjects .heroSection .heroBreakALeg .breakALegHero:last-child{
        width:22%;
    }
}

@media (min-width:0px) and (max-width: 550px){
    .mainContainerProjects .heroSection .heroBreakALeg{
        width:100%;
        gap:20px;
    }

}
