

/* MediaQueries Projects */

/* Navbar - Header Projects*/

/* Screen min-width 0px && max-width 850px*/

@media (min-width: 601px) and (max-width: 950px){
    .headerProjects .navbar .menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top:0;
        right:0;
        opacity:0;
        background-color: #00000098;
        transition:  background-color 0.4s ease-in-out, opacity 0.1s ease-in-out ;
    }
    .headerProjects .navbar #menuIcon:checked ~ .menu {
        opacity:1;
    }
    .headerProjects .navbar .menu .projectsDirect{
        display:none;
    }
    .headerProjects .navbar .menu .menuLinks {
        width: 45vw;
        align-items: center;
    }
    .headerProjects .navbar .menu .menuLinks ul{
        width:90%;
    }
}
@media (min-width: 0px) and (max-width: 600px){
    .headerProjects .navbar .menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top:0;
        right:0;
        opacity:0;
        transform: translateX(100%);
        transition: transform 0.15s ease-in-out, opacity 0.05s ease-in-out ;
    }
    .headerProjects .navbar #menuIcon:checked ~ .menu {
        opacity:1;
        transform: translateX(0%);
    }
    .headerProjects .navbar .menu .projectsDirect{
        display:none;
    }
    .headerProjects .navbar .menu .menuLinks {
        width: 100vw;
        align-items: center;
    }
    .headerProjects .navbar .menu .menuLinks ul{
        width:70%;
    }
}

/* MenuSide Projects*/

/* Screen min-width 0px && max-width 850px*/

@media (min-width: 0px) and (max-width: 1200px){
    .mainContainerProjects{
        width:100%;
        height:auto;
        margin-bottom: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "heroSection heroSection"
        "context context"
        "research research"
        "conceptualization conceptualization"
        "implementation implementation"
        "technologies technologies"
        "achievements achievements"
        "impacts impacts"
        "details details"
        ;
    }
    .mainContainerProjects .menuSide{
        display:none;
    }
}

/* Project Tooltip*/

/* Screen min-width 0px && max-width 750px*/

@media (min-width: 0px) and (max-width: 750px){
    .mainContainerProjects .heroSection .sectionTooltip .tooltip .intro{
        width: 80vw;
    }
}

@media (min-width: 0px) and (max-width: 680px){
    .mainContainerProjects .section .containerSection .title{
        font-size: 1.7rem;
    }

    /* Project Section Titles */

    .mainContainerProjects .section .containerSection .containerInfo .article .subtitle{
        font-size: 1.7rem;
    }
    .mainContainerProjects .section .containerSection .containerInfo .article .paragraph{
        font-size: 0.8rem;
    }
    .mainContainerProjects .section .containerSection .containerInfo .article .paragraph .bold{
        font-size: 0.8rem;
    }
    .mainContainerProjects .details div.containerSection .sectionCards .cards .info p {
        font-size: 0.8rem;
    }
}

 /* Project Containers */

 /* Semed */

 /* Context & challenge */

/* Screen min-width 801x && max-width 750px*/

@media (min-width: 901px) and (max-width: 1200px){
    .mainContainerProjects .section .containerSection .containerInfo .contextCellphone .semedContext{
        width:45%;
    }
    .mainContainerProjects .section .containerSection .impactCellphone .semedImpact{
        width:30%;
    }
}

/* Screen min-width 601px && max-width 900px*/

@media (min-width: 601px) and (max-width: 900px){
    .mainContainerProjects .section .containerSection .containerInfo .contextCellphone .semedContext{
        width:55%;
    }
    .mainContainerProjects .section .containerSection .impactCellphone .semedImpact{
        width:40%;
    }
}

/* Screen min-width 451px && max-width 600px*/

@media (min-width: 451px) and (max-width: 600px){
    .mainContainerProjects .section .containerSection .containerInfo .contextCellphone .semedContext{
        width:75%;
    }
    .mainContainerProjects .section .containerSection .impactCellphone .semedImpact{
        width:50%;
    }
}

/* Screen min-width 0px && max-width 450px*/

@media (min-width: 0px) and (max-width: 450px){
    .mainContainerProjects .section .containerSection .containerInfo .contextCellphone .semedContext{
        width:85%;
    }
    .mainContainerProjects .section .containerSection .impactCellphone .semedImpact{
        width:55%;
    }
}

/* Screen min-width 0px && max-width 550px*/

@media (min-width: 0px) and (max-width: 550px){
    .mainContainerProjects .section .containerSection #containerInfo{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .mainContainerProjects .section .containerSection #containerInfo .sectionSplit{
        gap:8rem;
        order:1;
    }
    .mainContainerProjects .section .containerSection #containerInfo .semedResearch{
        position: static;
    }
}
