
/* MediaQueries Additional Projects */

@media (min-width: 0px) and (max-width: 950px){
    .mainContainerAdditionalProjects .heroSection .mainHeroAdditionalProjects .heroAdditionalProjects{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }
    .mainContainerAdditionalProjects .heroSection .mainHeroAdditionalProjects .heroAdditionalProjects .cardContainer{
        width:100%;
        height:auto;
        padding: 250px 0px 100px;
    }
    .mainContainerAdditionalProjects .heroSection .mainHeroAdditionalProjects .titles{
        margin-top: -130px;
        text-align: center;
        align-items: center;
        gap:30px;
        animation:titles 0.8s linear ;
    }
    @keyframes titles {
        0%{
            transform:translate(-25%);
            opacity:0;
        }
        100%{
            transform:translate(0%);
            opacity:1;
        }
    }
    .mainContainerAdditionalProjects .section .containerSection .arrows .arrow:nth-child(1){
        transform:  translateX(-120%);
    }
    .mainContainerAdditionalProjects .section .containerSection .arrows .arrow:nth-child(2){
        transform:  translateX(120%);
    }
}

/* Additional Project Tooltip*/

/* Screen min-width 0px && max-width 750px*/

@media (min-width: 0px) and (max-width: 750px){
    .mainContainerAdditionalProjects .heroSection .sectionTooltipAdditionalProjects .tooltip .intro{
        width: 85vw;
    }
}

/* Screen min-width 0px && max-width 850px*/

@media (min-width: 0px) and (max-width: 1200px){
    .mainContainerAdditionalProjects{
        width:100%;
        height:auto;
        margin-bottom: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "heroSection heroSection"
        "figma figma"
        "landingPages landingPages"
        "webDevelopment webDevelopment"
        "components components"
        "animationMotion animationMotion"
        ;
    }
    .mainContainerAdditionalProjects .menuSide{
        display:none;
    }
}

/* Hero Section Font-Size 750px */

@media (min-width: 0px) and (max-width: 750px){
    .mainContainerAdditionalProjects .heroSection .mainHeroAdditionalProjects .titles .titleProject{
        font-size: 4.5rem;
    }
    .mainContainerAdditionalProjects .heroSection .mainHeroAdditionalProjects .titles .paragraph{
        font-size: 2rem;
    }
}

/* Hero Section Font-Size 400px */

@media (min-width: 0px) and (max-width: 400px){
    .mainContainerAdditionalProjects .heroSection .mainHeroAdditionalProjects .titles .titleProject{
        font-size: 3.5rem;
    }
    .mainContainerAdditionalProjects .heroSection .mainHeroAdditionalProjects .titles .paragraph{
        font-size: 1.5rem;
    }
}

/* Hero Section Card 500px */

@media (min-width: 0px) and (max-width: 500px){
    .mainContainerAdditionalProjects .heroSection .mainHeroAdditionalProjects .heroAdditionalProjects .cardContainer .card .cardHero .bussinessCard {
        width:85%;
        height: auto;
        border-radius: 7.5px;
    }
}

@media (min-width: 0px) and (max-width: 680px){
    .mainContainerAdditionalProjects .section .containerSection .containerInfo .title{
        font-size: 1.7rem;
        text-align: center;
    }

    /* Project Section Titles */

    .mainContainerAdditionalProjects .section div.containerSection .contentParagraph .paragraph{
        font-size: 0.8rem;
    }
}

/* Arrows */

@media (min-width: 501px) and (max-width: 750px){
    .mainContainerAdditionalProjects .section .containerSection .arrows .arrow:nth-child(1){
        transform:  translateX(-100%);
    }
    .mainContainerAdditionalProjects .section .containerSection .arrows .arrow:nth-child(2){
        transform:  translateX(100%);
    }
}

/* Screen min-width 0px && max-width 420px*/

@media (max-width: 500px){
    .mainContainerAdditionalProjects .section .containerSection .arrows{
        position: absolute;
        top: 60%;
        z-index:2;
        transform: translateY(20%);
    }
    .mainContainerAdditionalProjects .section .containerSection .arrows .arrow:nth-child(1){
        transform:  translateX(-50%);
    }
    .mainContainerAdditionalProjects .section .containerSection .arrows .arrow:nth-child(2){
        transform:  translateX(50%);
    }
}

/* Screen min-width 0px && max-width 460px*/

@media (max-width: 500px){
    .mainContainerAdditionalProjects .section .containerSection .arrows{
        position: absolute;
        top: 60%;
        z-index:2;
        transform: translateY(20%);
    }
    .mainContainerAdditionalProjects .section .containerSection .arrows .arrow:nth-child(1){
        transform:  translateX(-50%);
    }
    .mainContainerAdditionalProjects .section .containerSection .arrows .arrow:nth-child(2){
        transform:  translateX(50%);
    }
}
