.header{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0px;
    z-index: 999;
    background-color: #fdfdfd00;
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;
}
.header:hover{
    box-shadow: 0 0 48px 2px #dadada;
}
.header .navbar{
    width:85%;
    max-width: 1200px;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}
.header .navbar .logoIcon .logo{
    width:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.header .navbar .menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    gap:20px;
}
.header .navbar .menu ul li{
    list-style-type: none;
    padding: 5px 5px;
    overflow: hidden;
}
.header .navbar .menu ul li .item{
    width:100%;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 1rem;
    color:#000000;
    font-weight: 400;
    position: relative;
    transition: color 0.3s ease-in-out;
}
.header .navbar .menu ul li .item:hover{
    color:#c900c9;
}
.header .navbar .menu ul li .item::after{
    content:"";
    position: absolute;
    bottom:0;
    left:0%;
    width:100%;
    height: auto;
    border-bottom: 1px solid transparent;
    transform:translateX(-100%);
    transition: transform 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
.header .navbar .menu ul li .item:hover::after{
    border-bottom: 1px solid #c900c9;
    transform:translateX(0%);
}














